### The following processes will be conducted in this data wrangling section:

### Reading the raw data from a CSV file

### Display data samples to understand its structure

### Data Cleaning: Identify and handle missing values

###

In [1]:
# First, import the relevant modules and packages
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#suppress future warnings
#import warnings
#warnings.simplefilter(action='ignore', category=FutureWarning)
#warnings.simplefilter(action='ignore', category=UserWarning)

# Show plots inline
%matplotlib inline

In [2]:
df1 = pd.read_csv('../01_raw_data/oil_production_statistics.csv', encoding='latin-1')

In [3]:
# Displaying the first few rows of the raw data to understand its structure
df1.head()

  country_name     type    product                   flow  year       value
0    Australia  Balance  Crude oil  Industrial Production  2021   18029.678
1      Austria  Balance  Crude oil  Industrial Production  2021     561.852
2      Belgium  Balance  Crude oil  Industrial Production  2021       0.000
3       Canada  Balance  Crude oil  Industrial Production  2021  266630.180
4        Chile  Balance  Crude oil  Industrial Production  2021     340.997

In [4]:
df1.tail()

,country_name,type,product,flow,year,value
2371,Sweden,Balance,Residual fuel oil,Storage Channelization,2023,15.122
2372,Switzerland,Balance,Residual fuel oil,Storage Channelization,2023,-0.976
2373,Türkiye,Balance,Residual fuel oil,Storage Channelization,2023,80.912
2374,United Kingdom,Balance,Residual fuel oil,Storage Channelization,2023,0.000
2375,United States,Balance,Residual fuel oil,Storage Channelization,2023,-212.000

In [5]:
df1.shape

(2376, 6)

In [6]:
#Analyze the summary of the data
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2376 entries, 0 to 2375
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country_name  2376 non-null   object
 1   type          2376 non-null   object
 2   product       2376 non-null   object
 3   flow          2376 non-null   object
 4   year          2376 non-null   int64
 5   value         2376 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 111.5+ KB

In [7]:
df1.isnull().sum()

country_name    0
type            0
product         0
flow            0
year            0
value           0
dtype: int64

In [10]:
# Save the DataFrame to a CSV file
df1.to_csv('../03_processed_data/oil_production_wrangled_data.csv', index=False)

print("DataFrame saved to Oil_production_wrangled_data.csv'.")

DataFrame saved to Oil_production_wrangled_data.csv'.