###  Apply Train / Split

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
# Import data prepared in EDA after PCA as X to apply Train / Slpit
X_pca_df = pd.read_csv('../03_processed_data/austin_housePrice_and_income_data_af_EDA_PCA.csv', low_memory=False)

In [3]:
# Import latest price data prepared in EDA as y to apply Train / Slpit
price_df = pd.read_csv('../03_processed_data/austin_house_latest_price_af_EDA_PCA.csv', low_memory=False)

In [4]:
X_pca_df.shape

(14733, 47)

In [5]:
X_pca_df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,37,38,39,40,41,42,43,44,45,46
0,-5.379758,0.648896,-2.630009,1.324542,-0.516196,0.427561,0.546939,-0.587342,0.040090,0.440668,...,-0.194648,-0.069778,0.166141,0.196044,-0.180053,-0.142683,0.030644,-0.033695,-0.001243,-2.204129e-16
1,-7.208337,-0.966243,1.095670,0.718015,-0.079973,0.692868,-1.213629,-0.774073,1.121826,-0.526366,...,-0.117768,-0.175596,0.026700,0.176197,-0.261163,-0.481704,0.009928,-0.006876,-0.009131,-5.235100e-16
2,-6.081084,-0.414983,1.218450,0.127751,0.498261,0.771758,1.033676,-0.716406,1.232510,-0.334900,...,-0.053244,0.027089,0.151422,0.260919,-0.176623,-0.212749,-0.086285,-0.001135,0.013249,2.577624e-16

In [6]:
y_price_df = price_df.latest_price

In [7]:
y_price_df.shape

(14733,)

In [8]:
y_price_df.head(3)

0     715000.0
1    1025000.0
2     825000.0
Name: latest_price, dtype: float64

In [9]:
type(y_price_df)

pandas.core.series.Series

In [10]:
# Conduct 70/30 train/test split
X_train, X_test, y_train, y_test = train_test_split(X_pca_df, y_price_df, test_size=0.3, random_state=42)

In [11]:
X_train.shape, X_test.shape

((10313, 47), (4420, 47))

In [12]:
y_train.shape, y_test.shape

((10313,), (4420,))