### The following processes will be conducted in this data wrangling section:

### Reading the raw data from a CSV file

### Display data samples to understand its structure

### Data Cleaning: Identify and handle missing values

### Feature Engineering: Create new features based on existing ones (e.g., calculate mean income per zip code)

### Data Filtering: Filter out properties that are not relevant to the analysis (e.g., outliers or properties outside Austin city limits)

### # Feature Engineering: Create new features based on existing ones (e.g., calculate price per square foot)

### Data Aggregation: Calculate average price per zip code

### Data Merging: Combining housing data with demographic data

### Data Visualization: Visualize the data to gain insights and identify trends

### After data wrangling, the cleaned and transformed data can be used for further analysis and modeling.

In [1]:
# First, import the relevant modules and packages
import pandas as pd
import numpy as np
#from matplotlib import pyplot
import matplotlib.pyplot as plt

In [2]:
# Import Austin_TX_House_Listings_data_v1.csv & us_income_zipcode.csv
df1 = pd.read_csv('../01_raw_data/AustinTXHouseListingsDataV1.csv', low_memory=False)

In [3]:
# Displaying the first few rows of the raw data to understand its structure
df1.head()

,Unnamed: 0.1,Unnamed: 0,address_city,address_neighborhood,address_state,address_streetAddress,address_subdivision,address_zipcode,bathrooms,bedrooms,...,latest_salemonth,latest_saleyear,latest_price_source,numOfAccessibilityFeatures,numOfAppliances,numPhotos,numPriceChanges,photo,imagepath,cleanpath
0,0,15,Austin,NaN,TX,12801 Wooded Lake Ct,NaN,78732,5.0,4.0,...,2,2018,Agent Provided,0,3,39,1,https://photos.zillowstatic.com/fp/911f9a59acb...,/content/gdrive/MyDrive/zillow-images/70352485...,70352485_911f9a59acb6fe5fd909538a685e2a0c-p_f.jpg
1,1,16,Austin,NaN,TX,904 Lakewood Hills Ter,NaN,78732,5.0,5.0,...,8,2020,Broker Provided,0,3,58,2,https://photos.zillowstatic.com/fp/c6346c4a39d...,/content/gdrive/MyDrive/zillow-images/70352465...,70352465_c6346c4a39d1f87578ee1529329d9296-p_f.jpg
2,2,17,Austin,NaN,TX,13701 Montview Dr,NaN,78732,3.5,NaN,...,3,2018,Agent Provided,0,0,1,1,https://maps.googleapis.com/maps/api/streetvie...,/content/gdrive/MyDrive/zillow-images/83823478...,83823478_streetviewlocation13701MontviewDr2CAu...
3,3,18,Austin,NaN,TX,700 Lakewood Hills Ter,NaN,78732,4.0,4.0,...,6,2018,Agent Provided,0,1,40,4,https://photos.zillowstatic.com/fp/805b5a6b748...,/content/gdrive/MyDrive/zillow-images/70352478...,70352478_805b5a6b748b1d9cffeb93a4c41fedb0-p_f.jpg
4,4,19,Austin,Steiner Ranch-Lakewood Hills,TX,1008 Lakewood Hills Ter,NaN,78732,4.0,4.0,...,8,2019,Broker Provided,0,4,40,7,https://photos.zillowstatic.com/fp/a09cfad45a9...,/content/gdrive/MyDrive/zillow-images/70352461...,70352461_a09cfad45a949f7195c9540224f51e49-p_f.jpg

In [4]:
df1.shape

(16482, 736)

It looks like our data has more features (columns) than we need

In [5]:
#Analyze the summary of the data
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16482 entries, 0 to 16481
Columns: 736 entries, Unnamed: 0.1 to cleanpath
dtypes: bool(13), float64(227), int64(10), object(486)
memory usage: 91.1+ MB

In [6]:
df1.select_dtypes(include="object").count()

address_city             16482
address_neighborhood       431
address_state            16482
address_streetAddress    16482
address_subdivision        175
                         ...
latest_saledate          16482
latest_price_source      16482
photo                    16482
imagepath                16482
cleanpath                16482
Length: 486, dtype: int64

In [7]:
list(df1.select_dtypes(include="object"))

['address_city',
 'address_neighborhood',
 'address_state',
 'address_streetAddress',
 'address_subdivision',
 'description',
 'homeStatus',
 'resoFactsStats_accessibilityFeatures_0',
 'resoFactsStats_accessibilityFeatures_1',
 'resoFactsStats_accessibilityFeatures_2',
 'resoFactsStats_accessibilityFeatures_3',
 'resoFactsStats_accessibilityFeatures_4',
 'resoFactsStats_accessibilityFeatures_5',
 'resoFactsStats_accessibilityFeatures_6',
 'resoFactsStats_accessibilityFeatures_7',
 'resoFactsStats_additionalParcelsDescription',
 'resoFactsStats_appliances_0',
 'resoFactsStats_appliances_1',
 'resoFactsStats_appliances_2',
 'resoFactsStats_appliances_3',
 'resoFactsStats_appliances_4',
 'resoFactsStats_appliances_5',
 'resoFactsStats_appliances_6',
 'resoFactsStats_appliances_7',
 'resoFactsStats_appliances_8',
 'resoFactsStats_appliances_9',
 'resoFactsStats_appliances_10',
 'resoFactsStats_appliances_11',
 'resoFactsStats_appliances_12',
 'resoFactsStats_architecturalStyle',
 'resoFactsStats_associationAmenities_0',
 'resoFactsStats_associationAmenities_1',
 'resoFactsStats_associationAmenities_2',
 'resoFactsStats_associationAmenities_3',
 'resoFactsStats_associationAmenities_4',
 'resoFactsStats_associationFee',
 'resoFactsStats_associationFeeIncludes_0',
 'resoFactsStats_associationFeeIncludes_1',
 'resoFactsStats_associationFeeIncludes_2',
 'resoFactsStats_associationFeeIncludes_3',
 'resoFactsStats_associationFeeIncludes_4',
 'resoFactsStats_associationName',
 'resoFactsStats_associationPhone',
 'resoFactsStats_atAGlanceFacts_0_factLabel',
 'resoFactsStats_atAGlanceFacts_0_factValue',
 'resoFactsStats_atAGlanceFacts_1_factLabel',
 'resoFactsStats_atAGlanceFacts_2_factLabel',
 'resoFactsStats_atAGlanceFacts_2_factValue',
 'resoFactsStats_atAGlanceFacts_3_factLabel',
 'resoFactsStats_atAGlanceFacts_3_factValue',
 'resoFactsStats_atAGlanceFacts_4_factLabel',
 'resoFactsStats_atAGlanceFacts_4_factValue',
 'resoFactsStats_atAGlanceFacts_5_factLabel',
 'resoFactsStats_atAGlanceFacts_5_factValue',
 'resoFactsStats_atAGlanceFacts_6_factLabel',
 'resoFactsStats_atAGlanceFacts_6_factValue',
 'resoFactsStats_basement',
 'resoFactsStats_builderName',
 'resoFactsStats_buildingAreaSource',
 'resoFactsStats_buildingFeatures_0',
 'resoFactsStats_buildingName',
 'resoFactsStats_cityRegion',
 'resoFactsStats_commonWalls',
 'resoFactsStats_communityFeatures_0',
 'resoFactsStats_communityFeatures_1',
 'resoFactsStats_communityFeatures_2',
 'resoFactsStats_communityFeatures_3',
 'resoFactsStats_communityFeatures_4',
 'resoFactsStats_communityFeatures_5',
 'resoFactsStats_communityFeatures_6',
 'resoFactsStats_communityFeatures_7',
 'resoFactsStats_communityFeatures_8',
 'resoFactsStats_communityFeatures_9',
 'resoFactsStats_communityFeatures_10',
 'resoFactsStats_communityFeatures_11',
 'resoFactsStats_communityFeatures_12',
 'resoFactsStats_communityFeatures_13',
 'resoFactsStats_communityFeatures_14',
 'resoFactsStats_communityFeatures_15',
 'resoFactsStats_constructionMaterials_0',
 'resoFactsStats_constructionMaterials_1',
 'resoFactsStats_constructionMaterials_2',
 'resoFactsStats_constructionMaterials_3',
 'resoFactsStats_constructionMaterials_4',
 'resoFactsStats_constructionMaterials_5',
 'resoFactsStats_cooling_0',
 'resoFactsStats_cooling_1',
 'resoFactsStats_cooling_2',
 'resoFactsStats_cooling_3',
 'resoFactsStats_cooling_4',
 'resoFactsStats_developmentStatus',
 'resoFactsStats_electric_0',
 'resoFactsStats_elementarySchool',
 'resoFactsStats_elementarySchoolDistrict',
 'resoFactsStats_entryLocation',
 'resoFactsStats_exteriorFeatures_0',
 'resoFactsStats_exteriorFeatures_1',
 'resoFactsStats_exteriorFeatures_2',
 'resoFactsStats_exteriorFeatures_3',
 'resoFactsStats_exteriorFeatures_4',
 'resoFactsStats_exteriorFeatures_5',
 'resoFactsStats_exteriorFeatures_6',
 'resoFactsStats_fencing',
 'resoFactsStats_fireplaceFeatures_0',
 'resoFactsStats_fireplaceFeatures_1',
 'resoFactsStats_fireplaceFeatures_2',
 'resoFactsStats_fireplaceFeatures_3',
 'resoFactsStats_fireplaceFeatures_4',
 'resoFactsStats_fireplaceFeatures_5',
 'resoFactsStats_flooring_0',
 'resoFactsStats_flooring_1',
 'resoFactsStats_flooring_2',
 'resoFactsStats_flooring_3',
 'resoFactsStats_flooring_4',
 'resoFactsStats_flooring_5',
 'resoFactsStats_foundationDetails_0',
 'resoFactsStats_foundationDetails_1',
 'resoFactsStats_gas_0',
 'resoFactsStats_greenBuildingVerificationType_0',
 'resoFactsStats_greenEnergyEfficient_0',
 'resoFactsStats_greenEnergyEfficient_1',
 'resoFactsStats_greenEnergyEfficient_2',
 'resoFactsStats_greenEnergyEfficient_3',
 'resoFactsStats_greenEnergyEfficient_4',
 'resoFactsStats_greenEnergyEfficient_5',
 'resoFactsStats_greenIndoorAirQuality_0',
 'resoFactsStats_greenWaterConservation_0',
 'resoFactsStats_hasAssociation',
 'resoFactsStats_hasElectricOnProperty',
 'resoFactsStats_hasFireplace',
 'resoFactsStats_hasPrivatePool',
 'resoFactsStats_hasWaterfrontView',
 'resoFactsStats_heating_0',
 'resoFactsStats_heating_1',
 'resoFactsStats_heating_2',
 'resoFactsStats_heating_3',
 'resoFactsStats_heating_4',
 'resoFactsStats_heating_5',
 'resoFactsStats_highSchool',
 'resoFactsStats_highSchoolDistrict',
 'resoFactsStats_homeType',
 'resoFactsStats_isNewConstruction',
 'resoFactsStats_isSeniorCommunity',
 'resoFactsStats_laundryFeatures_0',
 'resoFactsStats_laundryFeatures_1',
 'resoFactsStats_laundryFeatures_2',
 'resoFactsStats_laundryFeatures_3',
 'resoFactsStats_laundryFeatures_4',
 'resoFactsStats_laundryFeatures_5',
 'resoFactsStats_laundryFeatures_6',
 'resoFactsStats_laundryFeatures_7',
 'resoFactsStats_laundryFeatures_8',
 'resoFactsStats_levels',
 'resoFactsStats_listAOR',
 'resoFactsStats_livingArea',
 'lotSize',
 'resoFactsStats_lotSizeDimensions',
 'resoFactsStats_middleOrJuniorSchool',
 'resoFactsStats_middleOrJuniorSchoolDistrict',
 'resoFactsStats_otherFacts_0_name',
 'resoFactsStats_otherFacts_0_value',
 'resoFactsStats_otherFacts_1_name',
 'resoFactsStats_otherFacts_1_value',
 'resoFactsStats_otherFacts_2_name',
 'resoFactsStats_otherFacts_2_value',
 'resoFactsStats_otherFacts_3_name',
 'resoFactsStats_otherFacts_3_value',
 'resoFactsStats_otherFacts_4_name',
 'resoFactsStats_otherFacts_4_value',
 'resoFactsStats_otherFacts_5_name',
 'resoFactsStats_otherFacts_5_value',
 'resoFactsStats_otherFacts_6_name',
 'resoFactsStats_otherFacts_6_value',
 'resoFactsStats_otherFacts_7_name',
 'resoFactsStats_otherFacts_7_value',
 'resoFactsStats_otherFacts_8_name',
 'resoFactsStats_otherFacts_8_value',
 'resoFactsStats_otherFacts_9_name',
 'resoFactsStats_otherFacts_9_value',
 'resoFactsStats_otherFacts_10_name',
 'resoFactsStats_otherFacts_10_value',
 'resoFactsStats_otherFacts_11_name',
 'resoFactsStats_otherFacts_11_value',
 'resoFactsStats_otherFacts_12_name',
 'resoFactsStats_otherFacts_12_value',
 'resoFactsStats_otherFacts_13_name',
 'resoFactsStats_otherFacts_13_value',
 'resoFactsStats_otherFacts_14_name',
 'resoFactsStats_otherFacts_14_value',
 'resoFactsStats_otherFacts_15_name',
 'resoFactsStats_otherFacts_15_value',
 'resoFactsStats_otherFacts_16_name',
 'resoFactsStats_otherFacts_16_value',
 'resoFactsStats_otherFacts_17_name',
 'resoFactsStats_otherFacts_17_value',
 'resoFactsStats_otherFacts_18_name',
 'resoFactsStats_otherFacts_18_value',
 'resoFactsStats_otherFacts_19_name',
 'resoFactsStats_otherFacts_19_value',
 'resoFactsStats_otherFacts_20_name',
 'resoFactsStats_otherFacts_20_value',
 'resoFactsStats_otherFacts_21_name',
 'resoFactsStats_otherFacts_21_value',
 'resoFactsStats_otherFacts_22_name',
 'resoFactsStats_otherFacts_22_value',
 'resoFactsStats_otherFacts_23_name',
 'resoFactsStats_otherFacts_23_value',
 'resoFactsStats_otherFacts_24_name',
 'resoFactsStats_otherFacts_24_value',
 'resoFactsStats_otherFacts_25_name',
 'resoFactsStats_otherFacts_25_value',
 'resoFactsStats_otherFacts_26_name',
 'resoFactsStats_otherFacts_26_value',
 'resoFactsStats_otherFacts_27_name',
 'resoFactsStats_otherFacts_27_value',
 'resoFactsStats_otherFacts_28_name',
 'resoFactsStats_otherFacts_28_value',
 'resoFactsStats_otherFacts_29_name',
 'resoFactsStats_otherFacts_29_value',
 'resoFactsStats_otherFacts_30_name',
 'resoFactsStats_otherFacts_30_value',
 'resoFactsStats_otherFacts_31_name',
 'resoFactsStats_otherFacts_31_value',
 'resoFactsStats_otherFacts_32_name',
 'resoFactsStats_otherFacts_32_value',
 'resoFactsStats_otherFacts_33_name',
 'resoFactsStats_otherFacts_33_value',
 'resoFactsStats_otherFacts_34_name',
 'resoFactsStats_otherFacts_34_value',
 'resoFactsStats_otherFacts_35_name',
 'resoFactsStats_otherFacts_35_value',
 'resoFactsStats_otherFacts_36_name',
 'resoFactsStats_otherFacts_36_value',
 'resoFactsStats_otherFacts_37_name',
 'resoFactsStats_otherFacts_37_value',
 'resoFactsStats_otherFacts_38_name',
 'resoFactsStats_otherFacts_38_value',
 'resoFactsStats_otherFacts_39_name',
 'resoFactsStats_otherFacts_39_value',
 'resoFactsStats_otherFacts_40_name',
 'resoFactsStats_otherFacts_40_value',
 'resoFactsStats_otherFacts_41_name',
 'resoFactsStats_otherFacts_41_value',
 'resoFactsStats_otherFacts_42_name',
 'resoFactsStats_otherFacts_42_value',
 'resoFactsStats_otherFacts_43_name',
 'resoFactsStats_otherFacts_43_value',
 'resoFactsStats_otherFacts_44_name',
 'resoFactsStats_otherFacts_44_value',
 'resoFactsStats_otherFacts_45_name',
 'resoFactsStats_otherFacts_45_value',
 'resoFactsStats_otherFacts_46_name',
 'resoFactsStats_otherFacts_46_value',
 'resoFactsStats_otherFacts_47_name',
 'resoFactsStats_otherFacts_47_value',
 'resoFactsStats_otherFacts_48_name',
 'resoFactsStats_otherFacts_48_value',
 'resoFactsStats_otherFacts_49_name',
 'resoFactsStats_otherFacts_49_value',
 'resoFactsStats_otherFacts_50_name',
 'resoFactsStats_otherFacts_50_value',
 'resoFactsStats_otherFacts_51_name',
 'resoFactsStats_otherFacts_51_value',
 'resoFactsStats_otherFacts_52_name',
 'resoFactsStats_otherFacts_52_value',
 'resoFactsStats_otherFacts_53_name',
 'resoFactsStats_otherFacts_53_value',
 'resoFactsStats_otherFacts_54_name',
 'resoFactsStats_otherFacts_54_value',
 'resoFactsStats_otherFacts_55_name',
 'resoFactsStats_otherFacts_55_value',
 'resoFactsStats_otherFacts_56_name',
 'resoFactsStats_otherFacts_56_value',
 'resoFactsStats_otherFacts_57_name',
 'resoFactsStats_otherFacts_57_value',
 'resoFactsStats_otherFacts_58_value',
 'resoFactsStats_otherFacts_59_name',
 'resoFactsStats_otherFacts_59_value',
 'resoFactsStats_otherFacts_60_name',
 'resoFactsStats_otherFacts_60_value',
 'resoFactsStats_otherFacts_61_name',
 'resoFactsStats_otherFacts_61_value',
 'resoFactsStats_otherFacts_62_value',
 'resoFactsStats_otherFacts_63_name',
 'resoFactsStats_otherFacts_63_value',
 'resoFactsStats_otherFacts_64_name',
 'resoFactsStats_otherFacts_64_value',
 'resoFactsStats_otherFacts_65_name',
 'resoFactsStats_otherFacts_65_value',
 'resoFactsStats_otherFacts_66_name',
 'resoFactsStats_otherFacts_66_value',
 'resoFactsStats_otherFacts_67_name',
 'resoFactsStats_otherFacts_67_value',
 'resoFactsStats_otherFacts_68_name',
 'resoFactsStats_otherFacts_68_value',
 'resoFactsStats_otherFacts_69_name',
 'resoFactsStats_otherFacts_69_value',
 'resoFactsStats_otherFacts_70_name',
 'resoFactsStats_otherFacts_70_value',
 'resoFactsStats_otherFacts_71_name',
 'resoFactsStats_otherFacts_71_value',
 'resoFactsStats_otherFacts_72_name',
 'resoFactsStats_otherFacts_72_value',
 'resoFactsStats_otherFacts_73_value',
 'resoFactsStats_otherFacts_74_name',
 'resoFactsStats_otherFacts_74_value',
 'resoFactsStats_otherFacts_75_name',
 'resoFactsStats_otherFacts_75_value',
 'resoFactsStats_otherFacts_76_name',
 'resoFactsStats_otherFacts_76_value',
 'resoFactsStats_otherFacts_77_value',
 'resoFactsStats_otherFacts_78_value',
 'resoFactsStats_otherFacts_79_name',
 'resoFactsStats_otherFacts_79_value',
 'resoFactsStats_otherFacts_80_name',
 'resoFactsStats_otherFacts_80_value',
 'resoFactsStats_otherFacts_81_value',
 'resoFactsStats_otherFacts_82_value',
 'resoFactsStats_otherFacts_83_name',
 'resoFactsStats_otherFacts_83_value',
 'resoFactsStats_otherFacts_84_value',
 'resoFactsStats_otherFacts_85_value',
 'resoFactsStats_otherFacts_86_value',
 'resoFactsStats_otherFacts_87_name',
 'resoFactsStats_otherFacts_87_value',
 'resoFactsStats_otherFacts_88_value',
 'resoFactsStats_otherFacts_89_name',
 'resoFactsStats_otherFacts_89_value',
 'resoFactsStats_otherFacts_90_value',
 'resoFactsStats_otherFacts_91_name',
 'resoFactsStats_otherFacts_91_value',
 'resoFactsStats_otherFacts_92_value',
 'resoFactsStats_otherFacts_93_name',
 'resoFactsStats_otherFacts_93_value',
 'resoFactsStats_otherFacts_94_value',
 'resoFactsStats_otherFacts_95_value',
 'resoFactsStats_otherFacts_96_value',
 'resoFactsStats_otherFacts_97_name',
 'resoFactsStats_otherFacts_97_value',
 'resoFactsStats_otherFacts_98_name',
 'resoFactsStats_otherFacts_98_value',
 'resoFactsStats_otherFacts_99_value',
 'resoFactsStats_otherFacts_100_value',
 'resoFactsStats_otherFacts_101_value',
 'resoFactsStats_otherFacts_102_name',
 'resoFactsStats_otherFacts_102_value',
 'resoFactsStats_otherFacts_103_value',
 'resoFactsStats_otherFacts_104_value',
 'resoFactsStats_otherFacts_105_value',
 'resoFactsStats_otherFacts_106_value',
 'resoFactsStats_otherFacts_107_value',
 'resoFactsStats_otherFacts_108_value',
 'resoFactsStats_otherFacts_109_name',
 'resoFactsStats_otherFacts_109_value',
 'resoFactsStats_otherFacts_110_value',
 'resoFactsStats_otherFacts_111_value',
 'resoFactsStats_otherFacts_112_value',
 'resoFactsStats_otherFacts_113_value',
 'resoFactsStats_otherFacts_114_value',
 'resoFactsStats_otherFacts_115_value',
 'resoFactsStats_otherFacts_116_value',
 'resoFactsStats_otherFacts_117_value',
 'resoFactsStats_otherFacts_118_value',
 'resoFactsStats_otherFacts_119_value',
 'resoFactsStats_otherFacts_120_value',
 'resoFactsStats_otherFacts_121_value',
 'resoFactsStats_otherFacts_122_value',
 'resoFactsStats_otherFacts_123_value',
 'resoFactsStats_otherFacts_124_value',
 'resoFactsStats_otherStructures_0',
 'resoFactsStats_otherStructures_1',
 'resoFactsStats_otherStructures_2',
 'resoFactsStats_otherStructures_3',
 'resoFactsStats_parcelNumber',
 'resoFactsStats_parkingFeatures_0',
 'resoFactsStats_parkingFeatures_1',
 'resoFactsStats_parkingFeatures_2',
 'resoFactsStats_parkingFeatures_3',
 'resoFactsStats_parkingFeatures_4',
 'resoFactsStats_parkingFeatures_5',
 'resoFactsStats_parkingFeatures_6',
 'resoFactsStats_patioAndPorchFeatures_0',
 'resoFactsStats_patioAndPorchFeatures_1',
 'resoFactsStats_patioAndPorchFeatures_2',
 'resoFactsStats_patioAndPorchFeatures_3',
 'resoFactsStats_patioAndPorchFeatures_4',
 'resoFactsStats_patioAndPorchFeatures_5',
 'resoFactsStats_patioAndPorchFeatures_6',
 'resoFactsStats_patioAndPorchFeatures_7',
 'resoFactsStats_propertyCondition',
 'roofType',
 'resoFactsStats_rooms_0_roomType',
 'resoFactsStats_rooms_1_roomType',
 'resoFactsStats_rooms_2_roomType',
 'resoFactsStats_rooms_3_roomType',
 'resoFactsStats_rooms_4_roomType',
 'resoFactsStats_rooms_5_roomType',
 'resoFactsStats_rooms_6_roomType',
 'resoFactsStats_rooms_7_roomType',
 'resoFactsStats_rooms_8_roomType',
 'resoFactsStats_rooms_9_roomType',
 'resoFactsStats_rooms_10_roomType',
 'resoFactsStats_rooms_11_roomType',
 'resoFactsStats_rooms_12_roomType',
 'resoFactsStats_rooms_13_roomType',
 'resoFactsStats_rooms_14_roomType',
 'resoFactsStats_rooms_15_roomType',
 'resoFactsStats_rooms_16_roomType',
 'resoFactsStats_rooms_17_roomType',
 'resoFactsStats_rooms_18_roomType',
 'resoFactsStats_rooms_19_roomType',
 'resoFactsStats_rooms_20_roomType',
 'resoFactsStats_rooms_21_roomType',
 'resoFactsStats_rooms_22_roomType',
 'resoFactsStats_rooms_23_roomType',
 'resoFactsStats_securityFeatures_0',
 'resoFactsStats_securityFeatures_1',
 'resoFactsStats_securityFeatures_2',
 'resoFactsStats_securityFeatures_3',
 'resoFactsStats_securityFeatures_4',
 'resoFactsStats_securityFeatures_5',
 'resoFactsStats_sewer_0',
 'resoFactsStats_sewer_1',
 'resoFactsStats_sewer_2',
 'resoFactsStats_spaFeatures_0',
 'resoFactsStats_spaFeatures_1',
 'resoFactsStats_spaFeatures_2',
 'resoFactsStats_specialListingConditions',
 'resoFactsStats_structureType',
 'resoFactsStats_topography',
 'resoFactsStats_utilities_0',
 'resoFactsStats_utilities_1',
 'resoFactsStats_utilities_2',
 'resoFactsStats_utilities_3',
 'resoFactsStats_utilities_4',
 'resoFactsStats_utilities_5',
 'resoFactsStats_utilities_6',
 'resoFactsStats_utilities_7',
 'resoFactsStats_utilities_8',
 'resoFactsStats_utilities_9',
 'resoFactsStats_utilities_10',
 'resoFactsStats_utilities_11',
 'resoFactsStats_vegetation_0',
 'resoFactsStats_vegetation_1',
 'resoFactsStats_vegetation_2',
 'resoFactsStats_vegetation_3',
 'resoFactsStats_view_0',
 'resoFactsStats_view_1',
 'resoFactsStats_view_2',
 'resoFactsStats_view_3',
 'resoFactsStats_view_4',
 'resoFactsStats_virtualTour',
 'resoFactsStats_waterfrontFeatures_0',
 'resoFactsStats_waterfrontFeatures_1',
 'resoFactsStats_waterfrontFeatures_2',
 'resoFactsStats_windowFeatures_0',
 'resoFactsStats_windowFeatures_1',
 'resoFactsStats_windowFeatures_2',
 'resoFactsStats_windowFeatures_3',
 'resoFactsStats_zoning',
 'resoFactsStats_zoningDescription',
 'schools_0_grades',
 'schools_0_isAssigned',
 'schools_0_level',
 'schools_0_link',
 'schools_0_name',
 'schools_0_type',
 'schools_1_grades',
 'schools_1_isAssigned',
 'schools_1_level',
 'schools_1_link',
 'schools_1_name',
 'schools_1_type',
 'schools_2_grades',
 'schools_2_isAssigned',
 'schools_2_level',
 'schools_2_link',
 'schools_2_name',
 'schools_2_type',
 'url',
 'latest_saledatetime',
 'latest_saledate',
 'latest_price_source',
 'photo',
 'imagepath',
 'cleanpath']

In [8]:
list(df1['lotSize'])

['0.36 Acres',
 '0.66 Acres',
 '0.50 Acres',
 '0.49 Acres',
 '0.48 Acres',
 '7,797 sqft',
 '0.41 Acres',
 '0.47 Acres',
 '2.67 Acres',
 '0.28 Acres',
 '0.30 Acres',
 '0.30 Acres',
 '0.30 Acres',
 '0.59 Acres',
 '8,232 sqft',
 '8,276 sqft',
 '0.32 Acres',
 '7,405 sqft',
 '0.52 Acres',
 '8,842 sqft',
 '0.29 Acres',
 '0.31 Acres',
 '8,363 sqft',
 '0.28 Acres',
 '0.27 Acres',
 '7,971 sqft',
 '9,931 sqft',
 '10,497 sqft',
 '2.68 Acres',
 '7,492 sqft',
 '0.37 Acres',
 '0.36 Acres',
 '0.36 Acres',
 '7,753 sqft',
 '0.37 Acres',
 '0.44 Acres',
 '4.18 Acres',
 '1.34 Acres',
 '5,662 sqft',
 '0.29 Acres',
 '10,018 sqft',
 '2.35 Acres',
 '0.26 Acres',
 '8,929 sqft',
 '0.34 Acres',
 '1.07 Acres',
 '0.28 Acres',
 '0.59 Acres',
 '1.36 Acres',
 '3.96 Acres',
 '0.34 Acres',
 '9,888 sqft',
 '0.32 Acres',
 '1.86 Acres',
 '6,316 sqft',
 '0.87 Acres',
 '9,670 sqft',
 '0.76 Acres',
 '0.50 Acres',
 '1.31 Acres',
 '10,367 sqft',
 '0.48 Acres',
 '1.25 Acres',
 '0.40 Acres',
 '3.54 Acres',
 '6,011 sqft',
 '1.52 Acres',
 '0.27 Acres',
 '9,191 sqft',
 '0.34 Acres',
 '0.47 Acres',
 '10,236 sqft',
 '0.31 Acres',
 '0.25 Acres',
 '9,060 sqft',
 '0.37 Acres',
 '1.01 Acres',
 '9,975 sqft',
 '0.49 Acres',
 '0.39 Acres',
 '4.09 Acres',
 '0.41 Acres',
 '8,712 sqft',
 '0.41 Acres',
 '0.95 Acres',
 '7,492 sqft',
 '8,973 sqft',
 '0.88 Acres',
 '9,931 sqft',
 '7,797 sqft',
 '2.87 Acres',
 '7,056 sqft',
 '7,056 sqft',
 '2.00 Acres',
 '0.99 Acres',
 '1 Acres',
 '10,541 sqft',
 '0.42 Acres',
 '2.47 Acres',
 '9,888 sqft',
 '0.25 Acres',
 '3.04 Acres',
 '1 Acres',
 '2.95 Acres',
 '0.86 Acres',
 '0.54 Acres',
 '2.83 Acres',
 '9,539 sqft',
 '0.29 Acres',
 '0.30 Acres',
 '0.27 Acres',
 '1.26 Acres',
 '0.28 Acres',
 '0.36 Acres',
 '0.27 Acres',
 '0.34 Acres',
 '0.38 Acres',
 '11.89 Acres',
 '0.34 Acres',
 '7,405 sqft',
 '5,749 sqft',
 '5.90 Acres',
 '0.28 Acres',
 '0.32 Acres',
 '9,104 sqft',
 '9,931 sqft',
 '7,405 sqft',
 '9,234 sqft',
 '0.49 Acres',
 '0.42 Acres',
 '7,840 sqft',
 '0.28 Acres',
 '0.40 Acres',
 '0.43 Acres',
 '0.44 Acres',
 '0.57 Acres',
 '0.56 Acres',
 '0.33 Acres',
 '7,187 sqft',
 '7,405 sqft',
 '7,579 sqft',
 '7,753 sqft',
 '8,712 sqft',
 '0.38 Acres',
 '8,624 sqft',
 '0.57 Acres',
 '8,407 sqft',
 '0.31 Acres',
 '6,272 sqft',
 '8,842 sqft',
 '7,797 sqft',
 '0.30 Acres',
 '1 Acres',
 '10,105 sqft',
 '0.34 Acres',
 '0.27 Acres',
 '0.25 Acres',
 '7,405 sqft',
 '0.38 Acres',
 '0.34 Acres',
 '0.97 Acres',
 '0.63 Acres',
 '0.44 Acres',
 '9,883 sqft',
 '6,011 sqft',
 '6,185 sqft',
 '7,840 sqft',
 '6,098 sqft',
 '60 sqft',
 '6,708 sqft',
 '5,161 sqft',
 '0.28 Acres',
 '5,140 sqft',
 '3,811 sqft',
 '5,401 sqft',
 '7,623 sqft',
 '8,276 sqft',
 '0.28 Acres',
 '6,011 sqft',
 '6,141 sqft',
 '6,795 sqft',
 '6,098 sqft',
 '5,998 sqft',
 '4,791 sqft',
 '7,461 sqft',
 '6,211 sqft',
 '6,229 sqft',
 '0.28 Acres',
 '6,141 sqft',
 '0.28 Acres',
 '6,577 sqft',
 '0.28 Acres',
 '0.28 Acres',
 '0.28 Acres',
 '8,529 sqft',
 '5,401 sqft',
 '5,314 sqft',
 '0.28 Acres',
 '6,141 sqft',
 '9,016 sqft',
 '0.28 Acres',
 '0.26 Acres',
 '8,407 sqft',
 '0.33 Acres',
 '7,361 sqft',
 '4.08 Acres',
 '9,104 sqft',
 '10,741 sqft',
 '10,759 sqft',
 '1.60 Acres',
 '1.92 Acres',
 '1.33 Acres',
 nan,
 '1.50 Acres',
 '0.36 Acres',
 '0.27 Acres',
 '0.25 Acres',
 '0.38 Acres',
 '1.23 Acres',
 '0.39 Acres',
 '0.39 Acres',
 '1.23 Acres',
 '0.41 Acres',
 '0.30 Acres',
 '1.90 Acres',
 '0.25 Acres',
 '0.27 Acres',
 '10,497 sqft',
 '9,583 sqft',
 '0.30 Acres',
 '10,497 sqft',
 '0.30 Acres',
 '1.01 Acres',
 '0.36 Acres',
 '9,670 sqft',
 '0.29 Acres',
 '8,990 sqft',
 '0.54 Acres',
 '10,127 sqft',
 '0.30 Acres',
 '8,712 sqft',
 '6,098 sqft',
 '0.33 Acres',
 '0.34 Acres',
 '9,888 sqft',
 '9,888 sqft',
 '0.29 Acres',
 '0.50 Acres',
 '0.30 Acres',
 '2 Acres',
 '0.29 Acres',
 '0.34 Acres',
 '10,018 sqft',
 '9,748 sqft',
 '10,193 sqft',
 '0.28 Acres',
 '435 sqft',
 '10,585 sqft',
 '0.43 Acres',
 '0.32 Acres',
 '0.31 Acres',
 '0.47 Acres',
 '0.54 Acres',
 '0.29 Acres',
 '0.62 Acres',
 '6,795 sqft',
 '0.26 Acres',
 '0.40 Acres',
 '0.36 Acres',
 '9,713 sqft',
 '0.36 Acres',
 '9,583 sqft',
 nan,
 '0.58 Acres',
 nan,
 '0.30 Acres',
 '0.25 Acres',
 '5.02 Acres',
 '0.61 Acres',
 nan,
 '0.36 Acres',
 '10,410 sqft',
 '6,969 sqft',
 '0.29 Acres',
 '0.32 Acres',
 '9,583 sqft',
 '1.10 Acres',
 '0.33 Acres',
 '9,147 sqft',
 '0.37 Acres',
 '5 Acres',
 '0.28 Acres',
 '0.46 Acres',
 '0.32 Acres',
 '0.32 Acres',
 '0.30 Acres',
 '0.75 Acres',
 '9,888 sqft',
 '0.37 Acres',
 '9,931 sqft',
 '0.34 Acres',
 '0.29 Acres',
 '0.37 Acres',
 '1.34 Acres',
 '0.28 Acres',
 '6,621 sqft',
 '0.29 Acres',
 '2.15 Acres',
 '9,757 sqft',
 '4 Acres',
 '0.31 Acres',
 '1.19 Acres',
 '0.25 Acres',
 '9,626 sqft',
 '1 Acres',
 '1.01 Acres',
 '9,975 sqft',
 '53.88 Acres',
 '1.05 Acres',
 '0.25 Acres',
 '0.30 Acres',
 '2 Acres',
 '6,621 sqft',
 '10,497 sqft',
 '0.41 Acres',
 '8,712 sqft',
 '0.39 Acres',
 '1.20 Acres',
 '5.01 Acres',
 '0.50 Acres',
 '9,583 sqft',
 '0.31 Acres',
 '20 Acres',
 '8,276 sqft',
 '1.07 Acres',
 '5.02 Acres',
 '9,757 sqft',
 '4.63 Acres',
 '0.29 Acres',
 '1.51 Acres',
 '1.46 Acres',
 '0.41 Acres',
 '1.01 Acres',
 '10,497 sqft',
 '1.55 Acres',
 '1.55 Acres',
 '1.13 Acres',
 '0.29 Acres',
 '0.38 Acres',
 '0.42 Acres',
 '9,931 sqft',
 '0.25 Acres',
 '0.26 Acres',
 '6,825 sqft',
 '10,802 sqft',
 '9,975 sqft',
 '4 Acres',
 '1.02 Acres',
 '7,840 sqft',
 '0.46 Acres',
 '0.29 Acres',
 '9,975 sqft',
 '4.75 Acres',
 '8,886 sqft',
 '3.09 Acres',
 '8,494 sqft',
 '9,583 sqft',
 '0.29 Acres',
 '6.01 Acres',
 '0.25 Acres',
 '68.60 Acres',
 nan,
 '0.26 Acres',
 '9,801 sqft',
 '2.73 Acres',
 '5.91 Acres',
 '0.28 Acres',
 '1.29 Acres',
 '0.57 Acres',
 '0.45 Acres',
 '5,706 sqft',
 '4,965 sqft',
 '5,183 sqft',
 '1.27 sqft',
 '4,965 sqft',
 '6,011 sqft',
 '0.41 Acres',
 '6,926 sqft',
 '0.35 Acres',
 '0.32 Acres',
 '10,846 sqft',
 '0.32 Acres',
 '6,621 sqft',
 '10,802 sqft',
 '1.17 Acres',
 '4,356 sqft',
 '9,147 sqft',
 '6,534 sqft',
 '8,712 sqft',
 '5,052 sqft',
 '0.26 Acres',
 '9,583 sqft',
 '6,011 sqft',
 '9,321 sqft',
 '0.37 Acres',
 '9,016 sqft',
 '6,054 sqft',
 '9,147 sqft',
 '6,621 sqft',
 '0.39 Acres',
 '0.12 sqft',
 '6,969 sqft',
 '5,357 sqft',
 '4,965 sqft',
 '0.32 Acres',
 '9,539 sqft',
 '6,272 sqft',
 '6,098 sqft',
 '6,969 sqft',
 '7,797 sqft',
 '4,965 sqft',
 '0.25 Acres',
 '6,795 sqft',
 '10,497 sqft',
 '5,401 sqft',
 '10,236 sqft',
 '6,490 sqft',
 '1.78 Acres',
 '5,401 sqft',
 '6,272 sqft',
 '6,011 sqft',
 '0.26 Acres',
 '5,793 sqft',
 '0.80 Acres',
 '0.25 Acres',
 '8,581 sqft',
 '6,141 sqft',
 '2.37 Acres',
 '1.96 Acres',
 '5,662 sqft',
 '4,791 sqft',
 '1.70 Acres',
 '4,965 sqft',
 '8,494 sqft',
 '0.27 Acres',
 '10,497 sqft',
 '6,098 sqft',
 '9,496 sqft',
 '4,965 sqft',
 '0.37 Acres',
 '4,748 sqft',
 '1.84 Acres',
 '0.31 Acres',
 '6,708 sqft',
 '5,140 sqft',
 '0.34 Acres',
 '0.30 Acres',
 '6,838 sqft',
 '8,712 sqft',
 '6,577 sqft',
 '0.31 Acres',
 '4,399 sqft',
 '1.79 Acres',
 '5,837 sqft',
 '0.29 Acres',
 '4,268 sqft',
 '2 Acres',
 '5,837 sqft',
 '0.35 Acres',
 '4,356 sqft',
 '9,931 sqft',
 '6,795 sqft',
 '4,965 sqft',
 '0.28 Acres',
 '6,795 sqft',
 '10,193 sqft',
 '6,098 sqft',
 '0.50 Acres',
 '5,967 sqft',
 '0.27 Acres',
 '6,446 sqft',
 '0.26 Acres',
 '7,361 sqft',
 '8,698 sqft',
 '6,011 sqft',
 '0.27 Acres',
 '0.27 Acres',
 '0.50 Acres',
 '0.33 Acres',
 '7,753 sqft',
 '0.50 Acres',
 '4,965 sqft',
 '0.35 Acres',
 '6,098 sqft',
 '0.50 Acres',
 '6,011 sqft',
 '10,454 sqft',
 '0.29 Acres',
 '0.38 Acres',
 '0.50 Acres',
 '5,619 sqft',
 '0.25 Acres',
 '6,098 sqft',
 '0.50 Acres',
 '6,969 sqft',
 '1.86 Acres',
 '0.50 Acres',
 '1 Acres',
 '6,011 sqft',
 '0.29 Acres',
 '0.35 Acres',
 '0.36 Acres',
 '7,753 sqft',
 '6,185 sqft',
 '0.31 Acres',
 '0.17 sqft',
 '8,450 sqft',
 '6,621 sqft',
 '4,312 sqft',
 '8.71 Acres',
 '10,249 sqft',
 '5,793 sqft',
 '0.26 Acres',
 '4,356 sqft',
 '8,929 sqft',
 '5,532 sqft',
 '10,018 sqft',
 '0.27 Acres',
 '9,452 sqft',
 '5,662 sqft',
 '0.37 Acres',
 '8,363 sqft',
 '6,011 sqft',
 '0.39 Acres',
 '5,749 sqft',
 '6,011 sqft',
 '0.40 Acres',
 '4,965 sqft',
 '0.26 Acres',
 '5,227 sqft',
 '7,623 sqft',
 '4,965 sqft',
 '0.50 Acres',
 '5,401 sqft',
 '0.30 Acres',
 '3.15 Acres',
 '10,454 sqft',
 '5,662 sqft',
 '8,712 sqft',
 '5,445 sqft',
 '68.60 Acres',
 '7,013 sqft',
 '6,969 sqft',
 '2 Acres',
 '6,621 sqft',
 '6,011 sqft',
 '5,662 sqft',
 '0.30 Acres',
 '5,401 sqft',
 '9,801 sqft',
 '6,599 sqft',
 '6,500 sqft',
 '6,534 sqft',
 '10,018 sqft',
 '0.11 sqft',
 '6,795 sqft',
 '0.27 Acres',
 '8,668 sqft',
 nan,
 '0.35 Acres',
 '8,712 sqft',
 '5.17 Acres',
 '0.26 Acres',
 '4,375 sqft',
 '0.29 Acres',
 '10,193 sqft',
 '5,488 sqft',
 nan,
 '10,672 sqft',
 '9,060 sqft',
 '7,666 sqft',
 '8,494 sqft',
 '0.28 Acres',
 '8,363 sqft',
 '6,786 sqft',
 '5,619 sqft',
 '5,536 sqft',
 '0.29 Acres',
 '0.36 Acres',
 nan,
 '7,501 sqft',
 '5,140 sqft',
 '5,140 sqft',
 '7,187 sqft',
 '7,710 sqft',
 '7,230 sqft',
 '10,236 sqft',
 '8,232 sqft',
 '9,757 sqft',
 '7,666 sqft',
 '10,585 sqft',
 '8,145 sqft',
 '5,662 sqft',
 '5,837 sqft',
 '0.25 Acres',
 '0.27 Acres',
 nan,
 '5,662 sqft',
 '8,276 sqft',
 '6,403 sqft',
 '5,662 sqft',
 '6,882 sqft',
 '6,229 sqft',
 '6,141 sqft',
 '6,403 sqft',
 '5,140 sqft',
 '5,662 sqft',
 '6,011 sqft',
 '8,712 sqft',
 '0.31 Acres',
 '6,534 sqft',
 '7,492 sqft',
 '8,537 sqft',
 '8,189 sqft',
 '7,971 sqft',
 '6,098 sqft',
 '0.27 Acres',
 '5,183 sqft',
 '8,842 sqft',
 '7,927 sqft',
 '7,448 sqft',
 nan,
 '5,227 sqft',
 '10,193 sqft',
 '7,274 sqft',
 '6,359 sqft',
 '0.30 Acres',
 nan,
 '8,457 sqft',
 '5,837 sqft',
 '7,405 sqft',
 '6,098 sqft',
 '9,583 sqft',
 '9,583 sqft',
 '7,013 sqft',
 '4,965 sqft',
 nan,
 '8,211 sqft',
 nan,
 '0.26 Acres',
 '5,445 sqft',
 '6,011 sqft',
 '5,880 sqft',
 '5,662 sqft',
 '135 Acres',
 '0.27 Acres',
 '8,276 sqft',
 '8,145 sqft',
 '5,009 sqft',
 '10,585 sqft',
 '0.28 Acres',
 '5,662 sqft',
 nan,
 '3,049 sqft',
 '6,577 sqft',
 nan,
 '10,105 sqft',
 '5,706 sqft',
 '7,797 sqft',
 '7,535 sqft',
 '0.25 Acres',
 '5,662 sqft',
 '7,753 sqft',
 '12.20 Acres',
 '7,623 sqft',
 '6,577 sqft',
 '4,965 sqft',
 '6,534 sqft',
 '0.22 sqft',
 nan,
 '5,401 sqft',
 '6,098 sqft',
 '6,185 sqft',
 '5,749 sqft',
 '5,415 sqft',
 nan,
 nan,
 '5,998 sqft',
 '5,575 sqft',
 '5,924 sqft',
 '0.25 Acres',
 '5,096 sqft',
 '0.32 Acres',
 '5,749 sqft',
 '6,098 sqft',
 nan,
 nan,
 '8,581 sqft',
 nan,
 '0.25 Acres',
 '6,359 sqft',
 '6,618 sqft',
 '7,405 sqft',
 '5,880 sqft',
 '6,229 sqft',
 '5,706 sqft',
 '7,405 sqft',
 '9,583 sqft',
 '10,585 sqft',
 '8,842 sqft',
 '10,236 sqft',
 '5,998 sqft',
 '6,926 sqft',
 '1 sqft',
 '5,227 sqft',
 '9,583 sqft',
 nan,
 '4,965 sqft',
 '0.27 Acres',
 '0.69 Acres',
 '0.44 Acres',
 '2.44 Acres',
 '1.99 Acres',
 '1.57 Acres',
 '8,407 sqft',
 '0.57 Acres',
 '7,666 sqft',
 '10,105 sqft',
 '0.26 Acres',
 '9,670 sqft',
 '0.26 Acres',
 '7,492 sqft',
 '0.82 Acres',
 '0.42 Acres',
 '0.33 Acres',
 '0.63 Acres',
 '8,276 sqft',
 '0.28 Acres',
 '0.30 Acres',
 '0.39 Acres',
 '0.26 Acres',
 '8,712 sqft',
 '7,840 sqft',
 '9,757 sqft',
 '0.27 Acres',
 '9,757 sqft',
 '0.30 Acres',
 '0.29 Acres',
 '0.34 Acres',
 '0.27 Acres',
 '1.96 Acres',
 '1.59 Acres',
 '0.27 Acres',
 '0.72 Acres',
 '9,147 sqft',
 '0.50 Acres',
 '0.94 Acres',
 '7,235 sqft',
 '2.62 Acres',
 '7,405 sqft',
 '7,361 sqft',
 '7,710 sqft',
 '0.28 Acres',
 '0.30 Acres',
 '0.28 Acres',
 '7,666 sqft',
 '6,625 sqft',
 '0.78 Acres',
 '0.39 Acres',
 '9,278 sqft',
 '0.30 Acres',
 '0.43 Acres',
 '0.27 Acres',
 '0.29 Acres',
 '0.27 Acres',
 '0.25 Acres',
 '9,147 sqft',
 '8,624 sqft',
 '0.34 Acres',
 '0.38 Acres',
 '8,973 sqft',
 '9,539 sqft',
 '0.26 Acres',
 '0.63 Acres',
 '10,454 sqft',
 '0.39 Acres',
 '7,230 sqft',
 '0.31 Acres',
 '7,405 sqft',
 '0.31 Acres',
 '6,054 sqft',
 '8,520 sqft',
 '8,319 sqft',
 '0.84 Acres',
 '7,927 sqft',
 '0.37 Acres',
 '7,013 sqft',
 '0.62 Acres',
 '0.31 Acres',
 '0.34 Acres',
 '1.16 Acres',
 '8,842 sqft',
 '0.30 Acres',
 '7,000 sqft',
 '0.32 Acres',
 '0.37 Acres',
 '0.34 Acres',
 '0.28 Acres',
 '0.29 Acres',
 '10,149 sqft',
 '9,365 sqft',
 '8,712 sqft',
 '0.31 Acres',
 '9,147 sqft',
 '0.31 Acres',
 '7,840 sqft',
 '0.30 Acres',
 '9,452 sqft',
 '0.39 Acres',
 '0.36 Acres',
 '0.38 Acres',
 '8,441 sqft',
 '0.32 Acres',
 '10,062 sqft',
 '0.32 Acres',
 '0.49 Acres',
 '0.34 Acres',
 '10,628 sqft',
 '10,367 sqft',
 '6,272 sqft',
 '0.51 Acres',
 '0.28 Acres',
 '0.30 Acres',
 '10,759 sqft',
 '0.25 Acres',
 '0.33 Acres',
 '6,098 sqft',
 '9,452 sqft',
 '0.43 Acres',
 '0.40 Acres',
 '10,149 sqft',
 '8,015 sqft',
 '0.25 Acres',
 '0.25 Acres',
 '0.26 Acres',
 '9,888 sqft',
 '8,537 sqft',
 '9,844 sqft',
 '9,931 sqft',
 '10,105 sqft',
 '0.28 Acres',
 '0.34 Acres',
 '0.37 Acres',
 '10,105 sqft',
 '0.38 Acres',
 '5,662 sqft',
 '0.41 Acres',
 '0.35 Acres',
 '0.33 Acres',
 '0.30 Acres',
 '9,234 sqft',
 '0.30 Acres',
 '0.27 Acres',
 '7,405 sqft',
 '0.39 Acres',
 '9,975 sqft',
 '6,098 sqft',
 '0.30 Acres',
 '9,801 sqft',
 '8,712 sqft',
 '10,410 sqft',
 '7,448 sqft',
 '0.27 Acres',
 '0.36 Acres',
 '0.28 Acres',
 '0.37 Acres',
 '9,496 sqft',
 '0.29 Acres',
 '10,018 sqft',
 '0.59 Acres',
 '0.50 Acres',
 '0.31 Acres',
 '5,662 sqft',
 '0.33 Acres',
 '9,147 sqft',
 '0.28 Acres',
 '0.38 Acres',
 '9,626 sqft',
 '0.50 Acres',
 '0.35 Acres',
 nan,
 '8,276 sqft',
 '0.36 Acres',
 '0.25 Acres',
 '0.27 Acres',
 '0.37 Acres',
 '0.37 Acres',
 '0.21 sqft',
 '0.33 Acres',
 '0.34 Acres',
 '0.29 Acres',
 '8,581 sqft',
 '0.82 Acres',
 '0.40 Acres',
 '8,407 sqft',
 '9,626 sqft',
 '0.27 Acres',
 '8,319 sqft',
 '0.31 Acres',
 '0.26 Acres',
 '9,104 sqft',
 '0.28 Acres',
 '0.28 Acres',
 '0.28 Acres',
 '5,662 sqft',
 '0.30 Acres',
 '0.47 Acres',
 '0.29 Acres',
 '0.31 Acres',
 '0.26 Acres',
 '7,797 sqft',
 '10,193 sqft',
 '0.28 Acres',
 '0.33 Acres',
 '8,973 sqft',
 '3,963 sqft',
 '0.41 Acres',
 '6,368 sqft',
 '10,367 sqft',
 '1.28 Acres',
 '0.34 Acres',
 '6,368 sqft',
 '9,713 sqft',
 '3,920 sqft',
 '0.35 Acres',
 '3.27 Acres',
 '10,149 sqft',
 '8,319 sqft',
 '0.28 Acres',
 '0.31 Acres',
 '0.46 Acres',
 '8,363 sqft',
 '0.32 Acres',
 '9,796 sqft',
 '7,405 sqft',
 '1.22 Acres',
 '0.25 Acres',
 '1 Acres',
 '0.28 Acres',
 '0.32 Acres',
 '10,410 sqft',
 '1.04 Acres',
 '0.34 Acres',
 '0.71 Acres',
 '4,181 sqft',
 '0.38 Acres',
 '0.31 Acres',
 '0.48 Acres',
 '0.30 Acres',
 '9,931 sqft',
 '6,098 sqft',
 '8,407 sqft',
 '6,368 sqft',
 '0.30 Acres',
 '7,187 sqft',
 '6,534 sqft',
 '0.40 Acres',
 '2.97 Acres',
 '0.64 Acres',
 '2.35 Acres',
 '1.26 Acres',
 '3,397 sqft',
 '9,583 sqft',
 '0.58 Acres',
 '0.38 Acres',
 '9,452 sqft',
 '0.26 Acres',
 '0.37 Acres',
 '6,969 sqft',
 '3,911 sqft',
 '9,583 sqft',
 '5,052 sqft',
 '0.31 Acres',
 '3,920 sqft',
 '10,280 sqft',
 '0.61 Acres',
 '3,920 sqft',
 '0.31 Acres',
 '5,662 sqft',
 '0.31 Acres',
 '9,365 sqft',
 '0.31 Acres',
 '3.05 Acres',
 '0.41 Acres',
 '4,573 sqft',
 '8,537 sqft',
 '1.60 Acres',
 '7,405 sqft',
 '10,544 sqft',
 '7,797 sqft',
 ...]

In [9]:
df1[['lotSize_value', 'lotSize_unit']] = df1['lotSize'].str.split(' ', expand=True)
df1.head(3)

,Unnamed: 0.1,Unnamed: 0,address_city,address_neighborhood,address_state,address_streetAddress,address_subdivision,address_zipcode,bathrooms,bedrooms,...,latest_price_source,numOfAccessibilityFeatures,numOfAppliances,numPhotos,numPriceChanges,photo,imagepath,cleanpath,lotSize_value,lotSize_unit
0,0,15,Austin,NaN,TX,12801 Wooded Lake Ct,NaN,78732,5.0,4.0,...,Agent Provided,0,3,39,1,https://photos.zillowstatic.com/fp/911f9a59acb...,/content/gdrive/MyDrive/zillow-images/70352485...,70352485_911f9a59acb6fe5fd909538a685e2a0c-p_f.jpg,0.36,Acres
1,1,16,Austin,NaN,TX,904 Lakewood Hills Ter,NaN,78732,5.0,5.0,...,Broker Provided,0,3,58,2,https://photos.zillowstatic.com/fp/c6346c4a39d...,/content/gdrive/MyDrive/zillow-images/70352465...,70352465_c6346c4a39d1f87578ee1529329d9296-p_f.jpg,0.66,Acres
2,2,17,Austin,NaN,TX,13701 Montview Dr,NaN,78732,3.5,NaN,...,Agent Provided,0,0,1,1,https://maps.googleapis.com/maps/api/streetvie...,/content/gdrive/MyDrive/zillow-images/83823478...,83823478_streetviewlocation13701MontviewDr2CAu...,0.50,Acres

In [10]:
df1.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'address_city', 'address_neighborhood',
       'address_state', 'address_streetAddress', 'address_subdivision',
       'address_zipcode', 'bathrooms', 'bedrooms',
       ...
       'latest_price_source', 'numOfAccessibilityFeatures', 'numOfAppliances',
       'numPhotos', 'numPriceChanges', 'photo', 'imagepath', 'cleanpath',
       'lotSize_value', 'lotSize_unit'],
      dtype='object', length=738)

In [11]:
list(df1.select_dtypes(include="object"))

['address_city',
 'address_neighborhood',
 'address_state',
 'address_streetAddress',
 'address_subdivision',
 'description',
 'homeStatus',
 'resoFactsStats_accessibilityFeatures_0',
 'resoFactsStats_accessibilityFeatures_1',
 'resoFactsStats_accessibilityFeatures_2',
 'resoFactsStats_accessibilityFeatures_3',
 'resoFactsStats_accessibilityFeatures_4',
 'resoFactsStats_accessibilityFeatures_5',
 'resoFactsStats_accessibilityFeatures_6',
 'resoFactsStats_accessibilityFeatures_7',
 'resoFactsStats_additionalParcelsDescription',
 'resoFactsStats_appliances_0',
 'resoFactsStats_appliances_1',
 'resoFactsStats_appliances_2',
 'resoFactsStats_appliances_3',
 'resoFactsStats_appliances_4',
 'resoFactsStats_appliances_5',
 'resoFactsStats_appliances_6',
 'resoFactsStats_appliances_7',
 'resoFactsStats_appliances_8',
 'resoFactsStats_appliances_9',
 'resoFactsStats_appliances_10',
 'resoFactsStats_appliances_11',
 'resoFactsStats_appliances_12',
 'resoFactsStats_architecturalStyle',
 'resoFactsStats_associationAmenities_0',
 'resoFactsStats_associationAmenities_1',
 'resoFactsStats_associationAmenities_2',
 'resoFactsStats_associationAmenities_3',
 'resoFactsStats_associationAmenities_4',
 'resoFactsStats_associationFee',
 'resoFactsStats_associationFeeIncludes_0',
 'resoFactsStats_associationFeeIncludes_1',
 'resoFactsStats_associationFeeIncludes_2',
 'resoFactsStats_associationFeeIncludes_3',
 'resoFactsStats_associationFeeIncludes_4',
 'resoFactsStats_associationName',
 'resoFactsStats_associationPhone',
 'resoFactsStats_atAGlanceFacts_0_factLabel',
 'resoFactsStats_atAGlanceFacts_0_factValue',
 'resoFactsStats_atAGlanceFacts_1_factLabel',
 'resoFactsStats_atAGlanceFacts_2_factLabel',
 'resoFactsStats_atAGlanceFacts_2_factValue',
 'resoFactsStats_atAGlanceFacts_3_factLabel',
 'resoFactsStats_atAGlanceFacts_3_factValue',
 'resoFactsStats_atAGlanceFacts_4_factLabel',
 'resoFactsStats_atAGlanceFacts_4_factValue',
 'resoFactsStats_atAGlanceFacts_5_factLabel',
 'resoFactsStats_atAGlanceFacts_5_factValue',
 'resoFactsStats_atAGlanceFacts_6_factLabel',
 'resoFactsStats_atAGlanceFacts_6_factValue',
 'resoFactsStats_basement',
 'resoFactsStats_builderName',
 'resoFactsStats_buildingAreaSource',
 'resoFactsStats_buildingFeatures_0',
 'resoFactsStats_buildingName',
 'resoFactsStats_cityRegion',
 'resoFactsStats_commonWalls',
 'resoFactsStats_communityFeatures_0',
 'resoFactsStats_communityFeatures_1',
 'resoFactsStats_communityFeatures_2',
 'resoFactsStats_communityFeatures_3',
 'resoFactsStats_communityFeatures_4',
 'resoFactsStats_communityFeatures_5',
 'resoFactsStats_communityFeatures_6',
 'resoFactsStats_communityFeatures_7',
 'resoFactsStats_communityFeatures_8',
 'resoFactsStats_communityFeatures_9',
 'resoFactsStats_communityFeatures_10',
 'resoFactsStats_communityFeatures_11',
 'resoFactsStats_communityFeatures_12',
 'resoFactsStats_communityFeatures_13',
 'resoFactsStats_communityFeatures_14',
 'resoFactsStats_communityFeatures_15',
 'resoFactsStats_constructionMaterials_0',
 'resoFactsStats_constructionMaterials_1',
 'resoFactsStats_constructionMaterials_2',
 'resoFactsStats_constructionMaterials_3',
 'resoFactsStats_constructionMaterials_4',
 'resoFactsStats_constructionMaterials_5',
 'resoFactsStats_cooling_0',
 'resoFactsStats_cooling_1',
 'resoFactsStats_cooling_2',
 'resoFactsStats_cooling_3',
 'resoFactsStats_cooling_4',
 'resoFactsStats_developmentStatus',
 'resoFactsStats_electric_0',
 'resoFactsStats_elementarySchool',
 'resoFactsStats_elementarySchoolDistrict',
 'resoFactsStats_entryLocation',
 'resoFactsStats_exteriorFeatures_0',
 'resoFactsStats_exteriorFeatures_1',
 'resoFactsStats_exteriorFeatures_2',
 'resoFactsStats_exteriorFeatures_3',
 'resoFactsStats_exteriorFeatures_4',
 'resoFactsStats_exteriorFeatures_5',
 'resoFactsStats_exteriorFeatures_6',
 'resoFactsStats_fencing',
 'resoFactsStats_fireplaceFeatures_0',
 'resoFactsStats_fireplaceFeatures_1',
 'resoFactsStats_fireplaceFeatures_2',
 'resoFactsStats_fireplaceFeatures_3',
 'resoFactsStats_fireplaceFeatures_4',
 'resoFactsStats_fireplaceFeatures_5',
 'resoFactsStats_flooring_0',
 'resoFactsStats_flooring_1',
 'resoFactsStats_flooring_2',
 'resoFactsStats_flooring_3',
 'resoFactsStats_flooring_4',
 'resoFactsStats_flooring_5',
 'resoFactsStats_foundationDetails_0',
 'resoFactsStats_foundationDetails_1',
 'resoFactsStats_gas_0',
 'resoFactsStats_greenBuildingVerificationType_0',
 'resoFactsStats_greenEnergyEfficient_0',
 'resoFactsStats_greenEnergyEfficient_1',
 'resoFactsStats_greenEnergyEfficient_2',
 'resoFactsStats_greenEnergyEfficient_3',
 'resoFactsStats_greenEnergyEfficient_4',
 'resoFactsStats_greenEnergyEfficient_5',
 'resoFactsStats_greenIndoorAirQuality_0',
 'resoFactsStats_greenWaterConservation_0',
 'resoFactsStats_hasAssociation',
 'resoFactsStats_hasElectricOnProperty',
 'resoFactsStats_hasFireplace',
 'resoFactsStats_hasPrivatePool',
 'resoFactsStats_hasWaterfrontView',
 'resoFactsStats_heating_0',
 'resoFactsStats_heating_1',
 'resoFactsStats_heating_2',
 'resoFactsStats_heating_3',
 'resoFactsStats_heating_4',
 'resoFactsStats_heating_5',
 'resoFactsStats_highSchool',
 'resoFactsStats_highSchoolDistrict',
 'resoFactsStats_homeType',
 'resoFactsStats_isNewConstruction',
 'resoFactsStats_isSeniorCommunity',
 'resoFactsStats_laundryFeatures_0',
 'resoFactsStats_laundryFeatures_1',
 'resoFactsStats_laundryFeatures_2',
 'resoFactsStats_laundryFeatures_3',
 'resoFactsStats_laundryFeatures_4',
 'resoFactsStats_laundryFeatures_5',
 'resoFactsStats_laundryFeatures_6',
 'resoFactsStats_laundryFeatures_7',
 'resoFactsStats_laundryFeatures_8',
 'resoFactsStats_levels',
 'resoFactsStats_listAOR',
 'resoFactsStats_livingArea',
 'lotSize',
 'resoFactsStats_lotSizeDimensions',
 'resoFactsStats_middleOrJuniorSchool',
 'resoFactsStats_middleOrJuniorSchoolDistrict',
 'resoFactsStats_otherFacts_0_name',
 'resoFactsStats_otherFacts_0_value',
 'resoFactsStats_otherFacts_1_name',
 'resoFactsStats_otherFacts_1_value',
 'resoFactsStats_otherFacts_2_name',
 'resoFactsStats_otherFacts_2_value',
 'resoFactsStats_otherFacts_3_name',
 'resoFactsStats_otherFacts_3_value',
 'resoFactsStats_otherFacts_4_name',
 'resoFactsStats_otherFacts_4_value',
 'resoFactsStats_otherFacts_5_name',
 'resoFactsStats_otherFacts_5_value',
 'resoFactsStats_otherFacts_6_name',
 'resoFactsStats_otherFacts_6_value',
 'resoFactsStats_otherFacts_7_name',
 'resoFactsStats_otherFacts_7_value',
 'resoFactsStats_otherFacts_8_name',
 'resoFactsStats_otherFacts_8_value',
 'resoFactsStats_otherFacts_9_name',
 'resoFactsStats_otherFacts_9_value',
 'resoFactsStats_otherFacts_10_name',
 'resoFactsStats_otherFacts_10_value',
 'resoFactsStats_otherFacts_11_name',
 'resoFactsStats_otherFacts_11_value',
 'resoFactsStats_otherFacts_12_name',
 'resoFactsStats_otherFacts_12_value',
 'resoFactsStats_otherFacts_13_name',
 'resoFactsStats_otherFacts_13_value',
 'resoFactsStats_otherFacts_14_name',
 'resoFactsStats_otherFacts_14_value',
 'resoFactsStats_otherFacts_15_name',
 'resoFactsStats_otherFacts_15_value',
 'resoFactsStats_otherFacts_16_name',
 'resoFactsStats_otherFacts_16_value',
 'resoFactsStats_otherFacts_17_name',
 'resoFactsStats_otherFacts_17_value',
 'resoFactsStats_otherFacts_18_name',
 'resoFactsStats_otherFacts_18_value',
 'resoFactsStats_otherFacts_19_name',
 'resoFactsStats_otherFacts_19_value',
 'resoFactsStats_otherFacts_20_name',
 'resoFactsStats_otherFacts_20_value',
 'resoFactsStats_otherFacts_21_name',
 'resoFactsStats_otherFacts_21_value',
 'resoFactsStats_otherFacts_22_name',
 'resoFactsStats_otherFacts_22_value',
 'resoFactsStats_otherFacts_23_name',
 'resoFactsStats_otherFacts_23_value',
 'resoFactsStats_otherFacts_24_name',
 'resoFactsStats_otherFacts_24_value',
 'resoFactsStats_otherFacts_25_name',
 'resoFactsStats_otherFacts_25_value',
 'resoFactsStats_otherFacts_26_name',
 'resoFactsStats_otherFacts_26_value',
 'resoFactsStats_otherFacts_27_name',
 'resoFactsStats_otherFacts_27_value',
 'resoFactsStats_otherFacts_28_name',
 'resoFactsStats_otherFacts_28_value',
 'resoFactsStats_otherFacts_29_name',
 'resoFactsStats_otherFacts_29_value',
 'resoFactsStats_otherFacts_30_name',
 'resoFactsStats_otherFacts_30_value',
 'resoFactsStats_otherFacts_31_name',
 'resoFactsStats_otherFacts_31_value',
 'resoFactsStats_otherFacts_32_name',
 'resoFactsStats_otherFacts_32_value',
 'resoFactsStats_otherFacts_33_name',
 'resoFactsStats_otherFacts_33_value',
 'resoFactsStats_otherFacts_34_name',
 'resoFactsStats_otherFacts_34_value',
 'resoFactsStats_otherFacts_35_name',
 'resoFactsStats_otherFacts_35_value',
 'resoFactsStats_otherFacts_36_name',
 'resoFactsStats_otherFacts_36_value',
 'resoFactsStats_otherFacts_37_name',
 'resoFactsStats_otherFacts_37_value',
 'resoFactsStats_otherFacts_38_name',
 'resoFactsStats_otherFacts_38_value',
 'resoFactsStats_otherFacts_39_name',
 'resoFactsStats_otherFacts_39_value',
 'resoFactsStats_otherFacts_40_name',
 'resoFactsStats_otherFacts_40_value',
 'resoFactsStats_otherFacts_41_name',
 'resoFactsStats_otherFacts_41_value',
 'resoFactsStats_otherFacts_42_name',
 'resoFactsStats_otherFacts_42_value',
 'resoFactsStats_otherFacts_43_name',
 'resoFactsStats_otherFacts_43_value',
 'resoFactsStats_otherFacts_44_name',
 'resoFactsStats_otherFacts_44_value',
 'resoFactsStats_otherFacts_45_name',
 'resoFactsStats_otherFacts_45_value',
 'resoFactsStats_otherFacts_46_name',
 'resoFactsStats_otherFacts_46_value',
 'resoFactsStats_otherFacts_47_name',
 'resoFactsStats_otherFacts_47_value',
 'resoFactsStats_otherFacts_48_name',
 'resoFactsStats_otherFacts_48_value',
 'resoFactsStats_otherFacts_49_name',
 'resoFactsStats_otherFacts_49_value',
 'resoFactsStats_otherFacts_50_name',
 'resoFactsStats_otherFacts_50_value',
 'resoFactsStats_otherFacts_51_name',
 'resoFactsStats_otherFacts_51_value',
 'resoFactsStats_otherFacts_52_name',
 'resoFactsStats_otherFacts_52_value',
 'resoFactsStats_otherFacts_53_name',
 'resoFactsStats_otherFacts_53_value',
 'resoFactsStats_otherFacts_54_name',
 'resoFactsStats_otherFacts_54_value',
 'resoFactsStats_otherFacts_55_name',
 'resoFactsStats_otherFacts_55_value',
 'resoFactsStats_otherFacts_56_name',
 'resoFactsStats_otherFacts_56_value',
 'resoFactsStats_otherFacts_57_name',
 'resoFactsStats_otherFacts_57_value',
 'resoFactsStats_otherFacts_58_value',
 'resoFactsStats_otherFacts_59_name',
 'resoFactsStats_otherFacts_59_value',
 'resoFactsStats_otherFacts_60_name',
 'resoFactsStats_otherFacts_60_value',
 'resoFactsStats_otherFacts_61_name',
 'resoFactsStats_otherFacts_61_value',
 'resoFactsStats_otherFacts_62_value',
 'resoFactsStats_otherFacts_63_name',
 'resoFactsStats_otherFacts_63_value',
 'resoFactsStats_otherFacts_64_name',
 'resoFactsStats_otherFacts_64_value',
 'resoFactsStats_otherFacts_65_name',
 'resoFactsStats_otherFacts_65_value',
 'resoFactsStats_otherFacts_66_name',
 'resoFactsStats_otherFacts_66_value',
 'resoFactsStats_otherFacts_67_name',
 'resoFactsStats_otherFacts_67_value',
 'resoFactsStats_otherFacts_68_name',
 'resoFactsStats_otherFacts_68_value',
 'resoFactsStats_otherFacts_69_name',
 'resoFactsStats_otherFacts_69_value',
 'resoFactsStats_otherFacts_70_name',
 'resoFactsStats_otherFacts_70_value',
 'resoFactsStats_otherFacts_71_name',
 'resoFactsStats_otherFacts_71_value',
 'resoFactsStats_otherFacts_72_name',
 'resoFactsStats_otherFacts_72_value',
 'resoFactsStats_otherFacts_73_value',
 'resoFactsStats_otherFacts_74_name',
 'resoFactsStats_otherFacts_74_value',
 'resoFactsStats_otherFacts_75_name',
 'resoFactsStats_otherFacts_75_value',
 'resoFactsStats_otherFacts_76_name',
 'resoFactsStats_otherFacts_76_value',
 'resoFactsStats_otherFacts_77_value',
 'resoFactsStats_otherFacts_78_value',
 'resoFactsStats_otherFacts_79_name',
 'resoFactsStats_otherFacts_79_value',
 'resoFactsStats_otherFacts_80_name',
 'resoFactsStats_otherFacts_80_value',
 'resoFactsStats_otherFacts_81_value',
 'resoFactsStats_otherFacts_82_value',
 'resoFactsStats_otherFacts_83_name',
 'resoFactsStats_otherFacts_83_value',
 'resoFactsStats_otherFacts_84_value',
 'resoFactsStats_otherFacts_85_value',
 'resoFactsStats_otherFacts_86_value',
 'resoFactsStats_otherFacts_87_name',
 'resoFactsStats_otherFacts_87_value',
 'resoFactsStats_otherFacts_88_value',
 'resoFactsStats_otherFacts_89_name',
 'resoFactsStats_otherFacts_89_value',
 'resoFactsStats_otherFacts_90_value',
 'resoFactsStats_otherFacts_91_name',
 'resoFactsStats_otherFacts_91_value',
 'resoFactsStats_otherFacts_92_value',
 'resoFactsStats_otherFacts_93_name',
 'resoFactsStats_otherFacts_93_value',
 'resoFactsStats_otherFacts_94_value',
 'resoFactsStats_otherFacts_95_value',
 'resoFactsStats_otherFacts_96_value',
 'resoFactsStats_otherFacts_97_name',
 'resoFactsStats_otherFacts_97_value',
 'resoFactsStats_otherFacts_98_name',
 'resoFactsStats_otherFacts_98_value',
 'resoFactsStats_otherFacts_99_value',
 'resoFactsStats_otherFacts_100_value',
 'resoFactsStats_otherFacts_101_value',
 'resoFactsStats_otherFacts_102_name',
 'resoFactsStats_otherFacts_102_value',
 'resoFactsStats_otherFacts_103_value',
 'resoFactsStats_otherFacts_104_value',
 'resoFactsStats_otherFacts_105_value',
 'resoFactsStats_otherFacts_106_value',
 'resoFactsStats_otherFacts_107_value',
 'resoFactsStats_otherFacts_108_value',
 'resoFactsStats_otherFacts_109_name',
 'resoFactsStats_otherFacts_109_value',
 'resoFactsStats_otherFacts_110_value',
 'resoFactsStats_otherFacts_111_value',
 'resoFactsStats_otherFacts_112_value',
 'resoFactsStats_otherFacts_113_value',
 'resoFactsStats_otherFacts_114_value',
 'resoFactsStats_otherFacts_115_value',
 'resoFactsStats_otherFacts_116_value',
 'resoFactsStats_otherFacts_117_value',
 'resoFactsStats_otherFacts_118_value',
 'resoFactsStats_otherFacts_119_value',
 'resoFactsStats_otherFacts_120_value',
 'resoFactsStats_otherFacts_121_value',
 'resoFactsStats_otherFacts_122_value',
 'resoFactsStats_otherFacts_123_value',
 'resoFactsStats_otherFacts_124_value',
 'resoFactsStats_otherStructures_0',
 'resoFactsStats_otherStructures_1',
 'resoFactsStats_otherStructures_2',
 'resoFactsStats_otherStructures_3',
 'resoFactsStats_parcelNumber',
 'resoFactsStats_parkingFeatures_0',
 'resoFactsStats_parkingFeatures_1',
 'resoFactsStats_parkingFeatures_2',
 'resoFactsStats_parkingFeatures_3',
 'resoFactsStats_parkingFeatures_4',
 'resoFactsStats_parkingFeatures_5',
 'resoFactsStats_parkingFeatures_6',
 'resoFactsStats_patioAndPorchFeatures_0',
 'resoFactsStats_patioAndPorchFeatures_1',
 'resoFactsStats_patioAndPorchFeatures_2',
 'resoFactsStats_patioAndPorchFeatures_3',
 'resoFactsStats_patioAndPorchFeatures_4',
 'resoFactsStats_patioAndPorchFeatures_5',
 'resoFactsStats_patioAndPorchFeatures_6',
 'resoFactsStats_patioAndPorchFeatures_7',
 'resoFactsStats_propertyCondition',
 'roofType',
 'resoFactsStats_rooms_0_roomType',
 'resoFactsStats_rooms_1_roomType',
 'resoFactsStats_rooms_2_roomType',
 'resoFactsStats_rooms_3_roomType',
 'resoFactsStats_rooms_4_roomType',
 'resoFactsStats_rooms_5_roomType',
 'resoFactsStats_rooms_6_roomType',
 'resoFactsStats_rooms_7_roomType',
 'resoFactsStats_rooms_8_roomType',
 'resoFactsStats_rooms_9_roomType',
 'resoFactsStats_rooms_10_roomType',
 'resoFactsStats_rooms_11_roomType',
 'resoFactsStats_rooms_12_roomType',
 'resoFactsStats_rooms_13_roomType',
 'resoFactsStats_rooms_14_roomType',
 'resoFactsStats_rooms_15_roomType',
 'resoFactsStats_rooms_16_roomType',
 'resoFactsStats_rooms_17_roomType',
 'resoFactsStats_rooms_18_roomType',
 'resoFactsStats_rooms_19_roomType',
 'resoFactsStats_rooms_20_roomType',
 'resoFactsStats_rooms_21_roomType',
 'resoFactsStats_rooms_22_roomType',
 'resoFactsStats_rooms_23_roomType',
 'resoFactsStats_securityFeatures_0',
 'resoFactsStats_securityFeatures_1',
 'resoFactsStats_securityFeatures_2',
 'resoFactsStats_securityFeatures_3',
 'resoFactsStats_securityFeatures_4',
 'resoFactsStats_securityFeatures_5',
 'resoFactsStats_sewer_0',
 'resoFactsStats_sewer_1',
 'resoFactsStats_sewer_2',
 'resoFactsStats_spaFeatures_0',
 'resoFactsStats_spaFeatures_1',
 'resoFactsStats_spaFeatures_2',
 'resoFactsStats_specialListingConditions',
 'resoFactsStats_structureType',
 'resoFactsStats_topography',
 'resoFactsStats_utilities_0',
 'resoFactsStats_utilities_1',
 'resoFactsStats_utilities_2',
 'resoFactsStats_utilities_3',
 'resoFactsStats_utilities_4',
 'resoFactsStats_utilities_5',
 'resoFactsStats_utilities_6',
 'resoFactsStats_utilities_7',
 'resoFactsStats_utilities_8',
 'resoFactsStats_utilities_9',
 'resoFactsStats_utilities_10',
 'resoFactsStats_utilities_11',
 'resoFactsStats_vegetation_0',
 'resoFactsStats_vegetation_1',
 'resoFactsStats_vegetation_2',
 'resoFactsStats_vegetation_3',
 'resoFactsStats_view_0',
 'resoFactsStats_view_1',
 'resoFactsStats_view_2',
 'resoFactsStats_view_3',
 'resoFactsStats_view_4',
 'resoFactsStats_virtualTour',
 'resoFactsStats_waterfrontFeatures_0',
 'resoFactsStats_waterfrontFeatures_1',
 'resoFactsStats_waterfrontFeatures_2',
 'resoFactsStats_windowFeatures_0',
 'resoFactsStats_windowFeatures_1',
 'resoFactsStats_windowFeatures_2',
 'resoFactsStats_windowFeatures_3',
 'resoFactsStats_zoning',
 'resoFactsStats_zoningDescription',
 'schools_0_grades',
 'schools_0_isAssigned',
 'schools_0_level',
 'schools_0_link',
 'schools_0_name',
 'schools_0_type',
 'schools_1_grades',
 'schools_1_isAssigned',
 'schools_1_level',
 'schools_1_link',
 'schools_1_name',
 'schools_1_type',
 'schools_2_grades',
 'schools_2_isAssigned',
 'schools_2_level',
 'schools_2_link',
 'schools_2_name',
 'schools_2_type',
 'url',
 'latest_saledatetime',
 'latest_saledate',
 'latest_price_source',
 'photo',
 'imagepath',
 'cleanpath',
 'lotSize_value',
 'lotSize_unit']

In [12]:
df1['lotSize_unit'].unique()

array(['Acres', 'sqft', nan], dtype=object)

In [13]:
len(df1['lotSize_value'])

16482

In [14]:
df1['lotSize_value'].info

<bound method Series.info of 0          0.36
1          0.66
2          0.50
3          0.49
4          0.48
          ...
16477      0.54
16478     9,321
16479    10,280
16480     8,450
16481     7,797
Name: lotSize_value, Length: 16482, dtype: object>

In [15]:
df1.replace('nan', float('nan'), inplace=True)

In [16]:
df1['lotSize_unit'].unique()

array(['Acres', 'sqft', nan], dtype=object)

In [17]:
df1['lotSize_value'].replace(',', '', inplace=True)

In [18]:
df1['lotSize_value'].info

<bound method Series.info of 0          0.36
1          0.66
2          0.50
3          0.49
4          0.48
          ...
16477      0.54
16478     9,321
16479    10,280
16480     8,450
16481     7,797
Name: lotSize_value, Length: 16482, dtype: object>

In [19]:
df1['lotSize_value'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 16482 entries, 0 to 16481
Series name: lotSize_value
Non-Null Count  Dtype
--------------  -----
16154 non-null  object
dtypes: object(1)
memory usage: 128.9+ KB

In [20]:
df1['lotSize_value'] = df1['lotSize_value'].str.replace(',', '')

In [21]:
df1['lotSize_value'].info

<bound method Series.info of 0         0.36
1         0.66
2         0.50
3         0.49
4         0.48
         ...
16477     0.54
16478     9321
16479    10280
16480     8450
16481     7797
Name: lotSize_value, Length: 16482, dtype: object>

In [22]:
df1['lotSize_value'] = pd.to_numeric(df1['lotSize_value'])

In [23]:
df1[['lotSize_unit']]

      lotSize_unit
0            Acres
1            Acres
2            Acres
3            Acres
4            Acres
...            ...
16477        Acres
16478         sqft
16479         sqft
16480         sqft
16481         sqft

[16482 rows x 1 columns]

In [24]:
# Convert acres to square feet where column_unit is 'Acres'
df1['lotSize_sqft'] = np.where(df1['lotSize_unit'] == 'Acres',
                               df1['lotSize_value'] * 43560,
                               df1['lotSize_value'])
df1.head()

,Unnamed: 0.1,Unnamed: 0,address_city,address_neighborhood,address_state,address_streetAddress,address_subdivision,address_zipcode,bathrooms,bedrooms,...,numOfAccessibilityFeatures,numOfAppliances,numPhotos,numPriceChanges,photo,imagepath,cleanpath,lotSize_value,lotSize_unit,lotSize_sqft
0,0,15,Austin,NaN,TX,12801 Wooded Lake Ct,NaN,78732,5.0,4.0,...,0,3,39,1,https://photos.zillowstatic.com/fp/911f9a59acb...,/content/gdrive/MyDrive/zillow-images/70352485...,70352485_911f9a59acb6fe5fd909538a685e2a0c-p_f.jpg,0.36,Acres,15681.6
1,1,16,Austin,NaN,TX,904 Lakewood Hills Ter,NaN,78732,5.0,5.0,...,0,3,58,2,https://photos.zillowstatic.com/fp/c6346c4a39d...,/content/gdrive/MyDrive/zillow-images/70352465...,70352465_c6346c4a39d1f87578ee1529329d9296-p_f.jpg,0.66,Acres,28749.6
2,2,17,Austin,NaN,TX,13701 Montview Dr,NaN,78732,3.5,NaN,...,0,0,1,1,https://maps.googleapis.com/maps/api/streetvie...,/content/gdrive/MyDrive/zillow-images/83823478...,83823478_streetviewlocation13701MontviewDr2CAu...,0.50,Acres,21780.0
3,3,18,Austin,NaN,TX,700 Lakewood Hills Ter,NaN,78732,4.0,4.0,...,0,1,40,4,https://photos.zillowstatic.com/fp/805b5a6b748...,/content/gdrive/MyDrive/zillow-images/70352478...,70352478_805b5a6b748b1d9cffeb93a4c41fedb0-p_f.jpg,0.49,Acres,21344.4
4,4,19,Austin,Steiner Ranch-Lakewood Hills,TX,1008 Lakewood Hills Ter,NaN,78732,4.0,4.0,...,0,4,40,7,https://photos.zillowstatic.com/fp/a09cfad45a9...,/content/gdrive/MyDrive/zillow-images/70352461...,70352461_a09cfad45a949f7195c9540224f51e49-p_f.jpg,0.48,Acres,20908.8

In [25]:
# Analyze how the dependent variable, 'latest_price', is correlated with the rest of independent variables
dict(df1.corr()['latest_price'].abs().sort_values(ascending = False))

C:\Users\famma\AppData\Local\Temp\ipykernel_16924\1946049958.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dict(df1.corr()['latest_price'].abs().sort_values(ascending = False))

{'latest_price': 1.0,
 'taxAssessedValue': 0.8628559938898727,
 'taxAnnualAmount': 0.8156128587000064,
 'bathrooms': 0.551445307264037,
 'resoFactsStats_bathrooms': 0.47586093567052096,
 'livingArea': 0.3919678078297034,
 'resoFactsStats_bathroomsFull': 0.3854093485257164,
 'bedrooms': 0.3236994120035267,
 'resoFactsStats_bedrooms': 0.29769330047900794,
 'schools_2_rating': 0.2879634712029946,
 'schools_1_studentsPerTeacher': 0.2846390962391095,
 'schools_1_rating': 0.24097254565070483,
 'schools_0_rating': 0.23987455502465402,
 'lotSize_value': 0.23968531085209016,
 'schools_1_size': 0.23598605610932682,
 'resoFactsStats_bathroomsHalf': 0.22839099263704998,
 'stories': 0.21967042532231817,
 'numPhotos': 0.181905441001118,
 'longitude': 0.18157016525279043,
 'hasSpa': 0.17628657766491157,
 'coveredSpaces': 0.17196269771541464,
 'parking': 0.16639348500886164,
 'schools_2_studentsPerTeacher': 0.16305886359458596,
 'garageSpaces': 0.16297483664756376,
 'schools_0_distance': 0.15324071928582075,
 'address_zipcode': 0.15260452122630824,
 'schools_1_totalCount': 0.14486650071845195,
 'hasView': 0.14275532016926046,
 'Unnamed: 0': 0.12475641290313895,
 'Unnamed: 0.1': 0.12464958104519118,
 'schools_0_studentsPerTeacher': 0.12464746725702475,
 'schools_2_totalCount': 0.10115753200487596,
 'dateposted': 0.09826716159514191,
 'resoFactsStats_carportSpaces': 0.09643663115519464,
 'numPriceChanges': 0.0913696454170642,
 'hasGarage': 0.08369439350217442,
 'resoFactsStats_storiesTotal': 0.07596303128305554,
 'latitude': 0.07022132336594361,
 'resoFactsStats_fireplaces': 0.06860829547059644,
 'propertyTaxRate': 0.0677477912896971,
 'schools_2_distance': 0.06079743393931344,
 'latest_saleyear': 0.05902242901809534,
 'resoFactsStats_onMarketDate': 0.05782789369561438,
 'resoFactsStats_entryLevel': 0.0546186595164369,
 'schools_0_size': 0.05158673860745946,
 'numOfAppliances': 0.048005102478852854,
 'schools_1_distance': 0.0452957887257533,
 'resoFactsStats_numberOfUnitsInCommunity': 0.04217358564234661,
 'yearBuilt': 0.03898696642189114,
 'resoFactsStats_atAGlanceFacts_1_factValue': 0.03370009911514153,
 'resoFactsStats_yearBuilt': 0.03370009911514153,
 'latest_salemonth': 0.030104179805545347,
 'resoFactsStats_yearBuiltEffective': 0.02840714386246472,
 'hasCooling': 0.024395854193730918,
 'hasAttachedGarage': 0.02408645293562149,
 'zpid': 0.022708894636949806,
 'hasHeating': 0.02191664829324848,
 'lotSize_sqft': 0.01978212876657297,
 'schools_0_totalCount': 0.018536282442984126,
 'numOfAccessibilityFeatures': 0.015613537950382806,
 'resoFactsStats_bathroomsThreeQuarter': 0.014678085010352341,
 'hasCarport': 0.012878535527123565,
 'furnished': 0.007932289449372224,
 'schools_2_size': 0.004632798816866319,
 'resoFactsStats_bathroomsOneQuarter': 0.0012450357819431088,
 'resoFactsStats_appliances_13': nan,
 'resoFactsStats_appliances_14': nan,
 'resoFactsStats_appliances_15': nan,
 'resoFactsStats_appliances_16': nan,
 'resoFactsStats_appliances_17': nan,
 'resoFactsStats_appliances_18': nan,
 'resoFactsStats_appliances_19': nan,
 'resoFactsStats_appliances_20': nan,
 'resoFactsStats_associationFeeIncludes_5': nan,
 'resoFactsStats_associationFeeIncludes_6': nan,
 'resoFactsStats_associationFeeIncludes_7': nan,
 'resoFactsStats_associationFeeIncludes_8': nan,
 'resoFactsStats_associationFeeIncludes_9': nan,
 'resoFactsStats_atAGlanceFacts_7_factLabel': nan,
 'resoFactsStats_atAGlanceFacts_7_factValue': nan,
 'resoFactsStats_atAGlanceFacts_8_factLabel': nan,
 'resoFactsStats_atAGlanceFacts_8_factValue': nan,
 'resoFactsStats_builderModel': nan,
 'resoFactsStats_buildingArea': nan,
 'canRaiseHorses': nan,
 'resoFactsStats_communityFeatures_16': nan,
 'resoFactsStats_communityFeatures_17': nan,
 'resoFactsStats_communityFeatures_18': nan,
 'resoFactsStats_communityFeatures_19': nan,
 'resoFactsStats_communityFeatures_20': nan,
 'resoFactsStats_communityFeatures_21': nan,
 'resoFactsStats_communityFeatures_22': nan,
 'resoFactsStats_communityFeatures_23': nan,
 'resoFactsStats_communityFeatures_24': nan,
 'resoFactsStats_constructionMaterials_6': nan,
 'resoFactsStats_constructionMaterials_7': nan,
 'resoFactsStats_constructionMaterials_8': nan,
 'resoFactsStats_constructionMaterials_9': nan,
 'resoFactsStats_exteriorFeatures_7': nan,
 'resoFactsStats_exteriorFeatures_8': nan,
 'resoFactsStats_exteriorFeatures_9': nan,
 'resoFactsStats_exteriorFeatures_10': nan,
 'resoFactsStats_exteriorFeatures_11': nan,
 'resoFactsStats_fireplaceFeatures_6': nan,
 'resoFactsStats_fireplaceFeatures_7': nan,
 'resoFactsStats_foundationDetails_2': nan,
 'resoFactsStats_frontageLength': nan,
 'hasAdditionalParcels': nan,
 'hasAttachedProperty': nan,
 'hasOpenParking': nan,
 'hasPetsAllowed': nan,
 'resoFactsStats_heating_6': nan,
 'resoFactsStats_listingId': nan,
 'resoFactsStats_openParkingSpaces': nan,
 'resoFactsStats_otherFacts_58_name': nan,
 'resoFactsStats_otherFacts_62_name': nan,
 'resoFactsStats_otherFacts_73_name': nan,
 'resoFactsStats_otherFacts_77_name': nan,
 'resoFactsStats_otherFacts_78_name': nan,
 'resoFactsStats_otherFacts_81_name': nan,
 'resoFactsStats_otherFacts_82_name': nan,
 'resoFactsStats_otherFacts_84_name': nan,
 'resoFactsStats_otherFacts_85_name': nan,
 'resoFactsStats_otherFacts_86_name': nan,
 'resoFactsStats_otherFacts_88_name': nan,
 'resoFactsStats_otherFacts_90_name': nan,
 'resoFactsStats_otherFacts_92_name': nan,
 'resoFactsStats_otherFacts_94_name': nan,
 'resoFactsStats_otherFacts_95_name': nan,
 'resoFactsStats_otherFacts_96_name': nan,
 'resoFactsStats_otherFacts_99_name': nan,
 'resoFactsStats_otherFacts_100_name': nan,
 'resoFactsStats_otherFacts_101_name': nan,
 'resoFactsStats_otherFacts_103_name': nan,
 'resoFactsStats_otherFacts_104_name': nan,
 'resoFactsStats_otherFacts_105_name': nan,
 'resoFactsStats_otherFacts_106_name': nan,
 'resoFactsStats_otherFacts_107_name': nan,
 'resoFactsStats_otherFacts_108_name': nan,
 'resoFactsStats_otherFacts_110_name': nan,
 'resoFactsStats_otherFacts_111_name': nan,
 'resoFactsStats_otherFacts_112_name': nan,
 'resoFactsStats_otherFacts_113_name': nan,
 'resoFactsStats_otherFacts_114_name': nan,
 'resoFactsStats_otherFacts_115_name': nan,
 'resoFactsStats_otherFacts_116_name': nan,
 'resoFactsStats_otherFacts_117_name': nan,
 'resoFactsStats_otherFacts_118_name': nan,
 'resoFactsStats_otherFacts_119_name': nan,
 'resoFactsStats_otherFacts_122_name': nan,
 'resoFactsStats_otherFacts_123_name': nan,
 'resoFactsStats_otherFacts_125_value': nan,
 'resoFactsStats_otherFacts_126_value': nan,
 'resoFactsStats_otherFacts_127_name': nan,
 'resoFactsStats_otherFacts_127_value': nan,
 'resoFactsStats_otherFacts_128_value': nan,
 'resoFactsStats_otherFacts_129_name': nan,
 'resoFactsStats_otherFacts_129_value': nan,
 'resoFactsStats_otherFacts_130_value': nan,
 'resoFactsStats_otherFacts_131_name': nan,
 'resoFactsStats_otherFacts_131_value': nan,
 'resoFactsStats_otherFacts_132_value': nan,
 'resoFactsStats_otherFacts_133_name': nan,
 'resoFactsStats_otherFacts_133_value': nan,
 'resoFactsStats_otherFacts_134_value': nan,
 'resoFactsStats_otherFacts_135_name': nan,
 'resoFactsStats_otherFacts_135_value': nan,
 'resoFactsStats_otherFacts_136_name': nan,
 'resoFactsStats_otherFacts_136_value': nan,
 'resoFactsStats_otherFacts_137_value': nan,
 'resoFactsStats_otherFacts_138_name': nan,
 'resoFactsStats_otherFacts_138_value': nan,
 'resoFactsStats_otherFacts_139_name': nan,
 'resoFactsStats_otherFacts_139_value': nan,
 'resoFactsStats_otherFacts_140_value': nan,
 'resoFactsStats_otherFacts_141_value': nan,
 'resoFactsStats_otherFacts_142_value': nan,
 'resoFactsStats_otherFacts_143_value': nan,
 'resoFactsStats_otherFacts_144_value': nan,
 'resoFactsStats_otherFacts_145_value': nan,
 'resoFactsStats_otherFacts_146_value': nan,
 'resoFactsStats_otherFacts_147_value': nan,
 'resoFactsStats_otherFacts_148_value': nan,
 'resoFactsStats_otherFacts_149_value': nan,
 'resoFactsStats_otherFacts_150_value': nan,
 'resoFactsStats_otherFacts_151_value': nan,
 'resoFactsStats_otherFacts_152_value': nan,
 'resoFactsStats_otherFacts_153_value': nan,
 'resoFactsStats_otherFacts_154_value': nan,
 'resoFactsStats_otherFacts_155_value': nan,
 'resoFactsStats_otherFacts_156_value': nan,
 'resoFactsStats_otherFacts_157_value': nan,
 'resoFactsStats_otherFacts_158_value': nan,
 'resoFactsStats_otherFacts_159_value': nan,
 'resoFactsStats_otherFacts_160_value': nan,
 'resoFactsStats_otherFacts_161_value': nan,
 'resoFactsStats_otherFacts_162_name': nan,
 'resoFactsStats_otherFacts_162_value': nan,
 'resoFactsStats_otherFacts_163_value': nan,
 'resoFactsStats_otherFacts_164_value': nan,
 'resoFactsStats_otherFacts_165_value': nan,
 'resoFactsStats_otherFacts_166_value': nan,
 'resoFactsStats_otherFacts_167_value': nan,
 'resoFactsStats_otherFacts_168_value': nan,
 'resoFactsStats_otherFacts_169_value': nan,
 'resoFactsStats_otherFacts_170_value': nan,
 'resoFactsStats_otherFacts_171_value': nan,
 'resoFactsStats_otherFacts_172_value': nan,
 'resoFactsStats_otherFacts_173_value': nan,
 'resoFactsStats_otherFacts_174_value': nan,
 'resoFactsStats_otherFacts_175_value': nan,
 'resoFactsStats_otherFacts_176_value': nan,
 'resoFactsStats_otherFacts_177_value': nan,
 'resoFactsStats_otherFacts_178_value': nan,
 'resoFactsStats_otherFacts_179_value': nan,
 'resoFactsStats_otherFacts_180_value': nan,
 'resoFactsStats_otherFacts_181_value': nan,
 'resoFactsStats_otherFacts_182_value': nan,
 'resoFactsStats_otherFacts_183_value': nan,
 'resoFactsStats_otherFacts_184_value': nan,
 'resoFactsStats_otherFacts_185_value': nan,
 'resoFactsStats_otherFacts_186_value': nan,
 'resoFactsStats_otherFacts_187_value': nan,
 'resoFactsStats_otherFacts_188_value': nan,
 'resoFactsStats_otherFacts_189_value': nan,
 'resoFactsStats_otherFacts_190_value': nan,
 'resoFactsStats_otherFacts_191_value': nan,
 'resoFactsStats_otherStructures_4': nan,
 'resoFactsStats_otherStructures_5': nan,
 'resoFactsStats_otherStructures_6': nan,
 'resoFactsStats_otherStructures_7': nan,
 'resoFactsStats_otherStructures_8': nan,
 'resoFactsStats_parkingFeatures_7': nan,
 'resoFactsStats_parkingFeatures_8': nan,
 'resoFactsStats_parkingFeatures_9': nan,
 'resoFactsStats_parkingFeatures_10': nan,
 'resoFactsStats_parkingFeatures_11': nan,
 'resoFactsStats_parkingFeatures_12': nan,
 'resoFactsStats_parkingFeatures_13': nan,
 'resoFactsStats_parkingFeatures_14': nan,
 'resoFactsStats_patioAndPorchFeatures_8': nan,
 'resoFactsStats_patioAndPorchFeatures_9': nan,
 'resoFactsStats_spaFeatures_3': nan,
 'resoFactsStats_spaFeatures_4': nan,
 'resoFactsStats_utilities_12': nan,
 'resoFactsStats_utilities_13': nan,
 'resoFactsStats_utilities_14': nan,
 'resoFactsStats_view_5': nan,
 'resoFactsStats_windowFeatures_4': nan,
 'resoFactsStats_windowFeatures_5': nan,
 'resoFactsStats_windowFeatures_6': nan,
 'resoFactsStats_cooling_5': nan}

In [26]:
#Create a "corr_r" row to filter out less correlated features (columns)
df1.loc['corr_r'] = df1.corr()['latest_price'].abs().sort_values(ascending = False)

C:\Users\famma\AppData\Local\Temp\ipykernel_16924\4094108136.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.loc['corr_r'] = df1.corr()['latest_price'].abs().sort_values(ascending = False)
C:\Users\famma\AppData\Local\Temp\ipykernel_16924\4094108136.py:2: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  df1.loc['corr_r'] = df1.corr()['latest_price'].abs().sort_values(ascending = False)

In [27]:
# Check the new row
df1.tail()

,Unnamed: 0.1,Unnamed: 0,address_city,address_neighborhood,address_state,address_streetAddress,address_subdivision,address_zipcode,bathrooms,bedrooms,...,numOfAccessibilityFeatures,numOfAppliances,numPhotos,numPriceChanges,photo,imagepath,cleanpath,lotSize_value,lotSize_unit,lotSize_sqft
16478,16480.00000,22070.000000,Austin,NaN,TX,6318 Clairmont Dr,NaN,78749.000000,2.000000,4.000000,...,0.000000,3.000000,33.000000,1.00000,https://photos.zillowstatic.com/fp/2f26fb52681...,/content/gdrive/MyDrive/zillow-images/29487158...,29487158_2f26fb52681290dd3e096cb85fc299ec-p_f.jpg,9321.000000,sqft,9321.000000
16479,16481.00000,22072.000000,Austin,NaN,TX,6104 Abilene Trl,NaN,78749.000000,2.000000,3.000000,...,0.000000,5.000000,25.000000,5.00000,https://photos.zillowstatic.com/fp/71a9662d303...,/content/gdrive/MyDrive/zillow-images/29491564...,29491564_71a9662d3031a1834e29f578f5a92b71-p_f.jpg,10280.000000,sqft,10280.000000
16480,16482.00000,22073.000000,Austin,NaN,TX,7702 Kincheon Ct,NaN,78749.000000,2.500000,3.000000,...,0.000000,1.000000,27.000000,1.00000,https://photos.zillowstatic.com/fp/f452bc0f4ba...,/content/gdrive/MyDrive/zillow-images/29486556...,29486556_f452bc0f4ba54fe11c89905773f38840-p_f.jpg,8450.000000,sqft,8450.000000
16481,16483.00000,22074.000000,Austin,NaN,TX,5300 Indio Cv,NaN,78745.000000,NaN,NaN,...,0.000000,0.000000,11.000000,1.00000,https://photos.zillowstatic.com/fp/eb612b3f7c8...,/content/gdrive/MyDrive/zillow-images/58314089...,58314089_eb612b3f7c80976715d8a54e389b8e15-p_f.jpg,7797.000000,sqft,7797.000000
corr_r,0.12465,0.124756,NaN,NaN,NaN,NaN,NaN,0.152605,0.551445,0.323699,...,0.015614,0.048005,0.181905,0.09137,NaN,NaN,NaN,0.239685,NaN,0.019782

In [28]:
 df1.shape

(16483, 739)

In [29]:
# Exclude columns that have correlation values less than 0.005
df2 = df1.loc[:,df1.loc['corr_r'] >= 0.005]

In [30]:
df2.shape

(16483, 63)

The number of columns are reduced from 736 to 61 by dropping columns that have less than 0.005 correlation value

In [31]:
df2.head()

,Unnamed: 0.1,Unnamed: 0,address_zipcode,bathrooms,bedrooms,dateposted,latitude,livingArea,longitude,propertyTaxRate,...,zpid,latest_price,latest_salemonth,latest_saleyear,numOfAccessibilityFeatures,numOfAppliances,numPhotos,numPriceChanges,lotSize_value,lotSize_sqft
0,0.0,15.0,78732.0,5.0,4.0,NaN,30.354322,4060.0,-97.911278,1.98,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,39.0,1.0,0.36,15681.6
1,1.0,16.0,78732.0,5.0,5.0,NaN,30.355553,4558.0,-97.912544,1.98,...,70352465.0,1025000.0,8.0,2020.0,0.0,3.0,58.0,2.0,0.66,28749.6
2,2.0,17.0,78732.0,3.5,NaN,NaN,30.382227,3402.0,-97.908333,1.98,...,83823478.0,59000.0,3.0,2018.0,0.0,0.0,1.0,1.0,0.50,21780.0
3,3.0,18.0,78732.0,4.0,4.0,NaN,30.352081,4749.0,-97.912048,1.98,...,70352478.0,825000.0,6.0,2018.0,0.0,1.0,40.0,4.0,0.49,21344.4
4,4.0,19.0,78732.0,4.0,4.0,NaN,30.356226,4867.0,-97.911697,1.98,...,70352461.0,849000.0,8.0,2019.0,0.0,4.0,40.0,7.0,0.48,20908.8

In [32]:
df2.isnull().sum().sort_values(ascending=False)

resoFactsStats_storiesTotal                16446
resoFactsStats_carportSpaces               16427
resoFactsStats_numberOfUnitsInCommunity    16376
resoFactsStats_fireplaces                  16302
resoFactsStats_onMarketDate                16259
                                           ...
furnished                                      0
longitude                                      0
latitude                                       0
address_zipcode                                0
parking                                        0
Length: 63, dtype: int64

In [33]:
df2_missing_counts = df2.isnull().sum()

In [34]:
df2_columns_to_drop = df2_missing_counts[df2_missing_counts > 14000].index

In [35]:
df2_columns_to_drop

Index(['dateposted', 'resoFactsStats_carportSpaces',
       'resoFactsStats_entryLevel', 'resoFactsStats_fireplaces',
       'resoFactsStats_numberOfUnitsInCommunity',
       'resoFactsStats_onMarketDate', 'resoFactsStats_storiesTotal',
       'resoFactsStats_yearBuiltEffective'],
      dtype='object')

In [36]:
# Create a row called 'null_sum_col' to drop columns that have more than 80% missing values
df2.loc['null_sum_col'] = df2.isnull().sum()

C:\Users\famma\AppData\Local\Temp\ipykernel_16924\3268720471.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc['null_sum_col'] = df2.isnull().sum()

In [37]:
# Filter out columns that has more than 80% missing values
df3 = df2.loc[:, df2.loc['null_sum_col'] < 14000]

In [38]:
df3 = df2.drop(columns=df2_columns_to_drop)

In [39]:
df3.shape

(16484, 55)

In [40]:
df3.head()

,Unnamed: 0.1,Unnamed: 0,address_zipcode,bathrooms,bedrooms,latitude,livingArea,longitude,propertyTaxRate,resoFactsStats_atAGlanceFacts_1_factValue,...,zpid,latest_price,latest_salemonth,latest_saleyear,numOfAccessibilityFeatures,numOfAppliances,numPhotos,numPriceChanges,lotSize_value,lotSize_sqft
0,0.0,15.0,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,39.0,1.0,0.36,15681.6
1,1.0,16.0,78732.0,5.0,5.0,30.355553,4558.0,-97.912544,1.98,2007.0,...,70352465.0,1025000.0,8.0,2020.0,0.0,3.0,58.0,2.0,0.66,28749.6
2,2.0,17.0,78732.0,3.5,NaN,30.382227,3402.0,-97.908333,1.98,2007.0,...,83823478.0,59000.0,3.0,2018.0,0.0,0.0,1.0,1.0,0.50,21780.0
3,3.0,18.0,78732.0,4.0,4.0,30.352081,4749.0,-97.912048,1.98,2011.0,...,70352478.0,825000.0,6.0,2018.0,0.0,1.0,40.0,4.0,0.49,21344.4
4,4.0,19.0,78732.0,4.0,4.0,30.356226,4867.0,-97.911697,1.98,2009.0,...,70352461.0,849000.0,8.0,2019.0,0.0,4.0,40.0,7.0,0.48,20908.8

The number of columns further decreased to 37

In [41]:
# Check how many rows have a total of more than 5 null values
df3[df3.isnull().sum(axis = 1) > 3]

,Unnamed: 0.1,Unnamed: 0,address_zipcode,bathrooms,bedrooms,latitude,livingArea,longitude,propertyTaxRate,resoFactsStats_atAGlanceFacts_1_factValue,...,zpid,latest_price,latest_salemonth,latest_saleyear,numOfAccessibilityFeatures,numOfAppliances,numPhotos,numPriceChanges,lotSize_value,lotSize_sqft
2,2.0,17.0,78732.0,3.5,NaN,30.382227,3402.0,-97.908333,1.98,2007.0,...,8.382348e+07,59000.0,3.0,2018.0,0.0,0.0,1.0,1.0,0.50,21780.0
11,11.0,26.0,78732.0,NaN,NaN,30.330782,1480.0,-97.925789,1.98,1975.0,...,2.934395e+07,315000.0,4.0,2019.0,0.0,1.0,18.0,9.0,0.30,13068.0
78,78.0,106.0,78732.0,NaN,NaN,30.382215,2512.0,-97.909950,1.98,2006.0,...,7.998023e+07,100000.0,2.0,2018.0,0.0,0.0,15.0,1.0,0.49,21344.4
93,93.0,122.0,78732.0,NaN,NaN,30.332327,1.0,-97.911598,1.98,2005.0,...,2.419302e+08,2195000.0,4.0,2019.0,0.0,0.0,5.0,1.0,2.00,87120.0
104,104.0,136.0,78734.0,3.0,4.0,30.342268,3023.0,-97.930733,1.98,1992.0,...,5.829815e+07,1500000.0,8.0,2020.0,0.0,0.0,31.0,2.0,0.86,37461.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16417,16419.0,21857.0,78737.0,3.0,5.0,30.198322,2747.0,-97.989227,2.01,2006.0,...,8.007668e+07,365000.0,1.0,2018.0,0.0,7.0,14.0,1.0,0.26,11325.6
16437,16439.0,21946.0,78717.0,3.0,3.0,30.476957,1645.0,-97.772057,2.21,2018.0,...,2.093629e+09,331700.0,1.0,2018.0,0.0,0.0,16.0,3.0,NaN,NaN
16439,16441.0,21951.0,78758.0,1.0,1.0,30.406792,657.0,-97.697861,1.98,1986.0,...,2.113423e+09,124999.0,9.0,2019.0,0.0,5.0,17.0,7.0,NaN,NaN
16466,16468.0,22039.0,78751.0,NaN,NaN,30.311029,3700.0,-97.719620,1.98,2020.0,...,2.940159e+07,1299900.0,12.0,2020.0,0.0,0.0,30.0,6.0,9408.00,9408.0
16481,16483.0,22074.0,78745.0,NaN,NaN,30.222555,3120.0,-97.805099,1.98,1980.0,...,5.831409e+07,515000.0,1.0,2018.0,0.0,0.0,11.0,1.0,7797.00,7797.0

In [42]:
df3['null_sum_rows'] = df3.isnull().sum(axis = 1)

In [43]:
df3.head()

,Unnamed: 0.1,Unnamed: 0,address_zipcode,bathrooms,bedrooms,latitude,livingArea,longitude,propertyTaxRate,resoFactsStats_atAGlanceFacts_1_factValue,...,latest_price,latest_salemonth,latest_saleyear,numOfAccessibilityFeatures,numOfAppliances,numPhotos,numPriceChanges,lotSize_value,lotSize_sqft,null_sum_rows
0,0.0,15.0,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,...,715000.0,2.0,2018.0,0.0,3.0,39.0,1.0,0.36,15681.6,1
1,1.0,16.0,78732.0,5.0,5.0,30.355553,4558.0,-97.912544,1.98,2007.0,...,1025000.0,8.0,2020.0,0.0,3.0,58.0,2.0,0.66,28749.6,0
2,2.0,17.0,78732.0,3.5,NaN,30.382227,3402.0,-97.908333,1.98,2007.0,...,59000.0,3.0,2018.0,0.0,0.0,1.0,1.0,0.50,21780.0,7
3,3.0,18.0,78732.0,4.0,4.0,30.352081,4749.0,-97.912048,1.98,2011.0,...,825000.0,6.0,2018.0,0.0,1.0,40.0,4.0,0.49,21344.4,1
4,4.0,19.0,78732.0,4.0,4.0,30.356226,4867.0,-97.911697,1.98,2009.0,...,849000.0,8.0,2019.0,0.0,4.0,40.0,7.0,0.48,20908.8,1

In [44]:
df3.shape

(16484, 56)

In [45]:
df3 = df3[df3['null_sum_rows'] <= 3]

In [46]:
df3.shape

(14735, 56)

In [47]:
# Drop unwanated columns 
df3 = df3.drop(columns=['Unnamed: 0.1', 'Unnamed: 0', 'numPhotos', 'null_sum_rows','lotSize_value'])

In [48]:
# Drop rows that are no longer needed
df3.drop(index=['corr_r', 'null_sum_col'], inplace = True)

In [49]:
df3.tail()

,address_zipcode,bathrooms,bedrooms,latitude,livingArea,longitude,propertyTaxRate,resoFactsStats_atAGlanceFacts_1_factValue,resoFactsStats_bathrooms,resoFactsStats_bathroomsFull,...,schools_2_totalCount,yearBuilt,zpid,latest_price,latest_salemonth,latest_saleyear,numOfAccessibilityFeatures,numOfAppliances,numPriceChanges,lotSize_sqft
16476,78749.0,2.0,3.0,30.224886,1496.0,-97.862335,1.98,1988.0,2.0,0.0,...,1.0,1988.0,29483690.0,292500.0,1.0,2018.0,0.0,0.0,1.0,5662.0
16477,78749.0,2.0,3.0,30.221336,2270.0,-97.879677,1.98,1999.0,2.0,0.0,...,1.0,1999.0,29484499.0,425000.0,1.0,2018.0,0.0,3.0,1.0,23522.4
16478,78749.0,2.0,4.0,30.216406,2645.0,-97.876045,1.98,1993.0,2.0,0.0,...,1.0,1993.0,29487158.0,424999.0,1.0,2018.0,0.0,3.0,1.0,9321.0
16479,78749.0,2.0,3.0,30.213816,1469.0,-97.873711,1.98,1992.0,2.0,2.0,...,1.0,1992.0,29491564.0,316000.0,1.0,2018.0,0.0,5.0,5.0,10280.0
16480,78749.0,2.5,3.0,30.218878,1700.0,-97.864960,1.98,1986.0,NaN,0.0,...,1.0,1986.0,29486556.0,384900.0,1.0,2018.0,0.0,1.0,1.0,8450.0

In [50]:
df3['price_per_sqft'] = df3['latest_price'] / df3['livingArea']

In [51]:
df3.shape

(14733, 52)

In [52]:
# Evaluate the amount of missing values in each columns
df3.isnull().sum()

address_zipcode                                 0
bathrooms                                     118
bedrooms                                       45
latitude                                        0
livingArea                                      0
longitude                                       0
propertyTaxRate                                 0
resoFactsStats_atAGlanceFacts_1_factValue       0
resoFactsStats_bathrooms                      158
resoFactsStats_bathroomsFull                    0
resoFactsStats_bathroomsHalf                    0
resoFactsStats_bathroomsThreeQuarter          189
resoFactsStats_bedrooms                         4
coveredSpaces                                8315
furnished                                       0
garageSpaces                                    0
hasAttachedGarage                               0
hasCarport                                      0
hasCooling                                      0
hasGarage                                       0
hasHeating                                      0
hasSpa                                          0
hasView                                         0
parking                                         0
stories                                       437
taxAnnualAmount                               832
taxAssessedValue                              239
resoFactsStats_yearBuilt                        0
schools_0_distance                              0
schools_0_rating                                0
schools_0_size                                  0
schools_0_studentsPerTeacher                   80
schools_0_totalCount                            0
schools_1_distance                              0
schools_1_rating                                0
schools_1_size                                  0
schools_1_studentsPerTeacher                  332
schools_1_totalCount                            0
schools_2_distance                              0
schools_2_rating                                0
schools_2_studentsPerTeacher                    0
schools_2_totalCount                            0
yearBuilt                                       1
zpid                                            0
latest_price                                    0
latest_salemonth                                0
latest_saleyear                                 0
numOfAccessibilityFeatures                      0
numOfAppliances                                 0
numPriceChanges                                 0
lotSize_sqft                                   24
price_per_sqft                                  0
dtype: int64

In [53]:
# Evaluate the amount of missing values across rows
df3[df3.isnull().sum(axis = 1) > 0]

,address_zipcode,bathrooms,bedrooms,latitude,livingArea,longitude,propertyTaxRate,resoFactsStats_atAGlanceFacts_1_factValue,resoFactsStats_bathrooms,resoFactsStats_bathroomsFull,...,yearBuilt,zpid,latest_price,latest_salemonth,latest_saleyear,numOfAccessibilityFeatures,numOfAppliances,numPriceChanges,lotSize_sqft,price_per_sqft
0,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,4.0,...,2007.0,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374
3,78732.0,4.0,4.0,30.352081,4749.0,-97.912048,1.98,2011.0,4.0,3.0,...,2011.0,70352478.0,825000.0,6.0,2018.0,0.0,1.0,4.0,21344.4,173.720783
4,78732.0,4.0,4.0,30.356226,4867.0,-97.911697,1.98,2009.0,4.0,4.0,...,2009.0,70352461.0,849000.0,8.0,2019.0,0.0,4.0,7.0,20908.8,174.440107
6,78732.0,NaN,3.0,30.329847,2326.0,-97.926910,1.98,2018.0,0.0,0.0,...,2018.0,124904977.0,139990.0,4.0,2018.0,0.0,0.0,1.0,17859.6,60.184867
7,78732.0,5.0,4.0,30.352270,3385.0,-97.912140,1.98,2007.0,5.0,4.0,...,2007.0,70352477.0,800000.0,10.0,2020.0,0.0,8.0,2.0,20473.2,236.336780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16476,78749.0,2.0,3.0,30.224886,1496.0,-97.862335,1.98,1988.0,2.0,0.0,...,1988.0,29483690.0,292500.0,1.0,2018.0,0.0,0.0,1.0,5662.0,195.521390
16477,78749.0,2.0,3.0,30.221336,2270.0,-97.879677,1.98,1999.0,2.0,0.0,...,1999.0,29484499.0,425000.0,1.0,2018.0,0.0,3.0,1.0,23522.4,187.224670
16478,78749.0,2.0,4.0,30.216406,2645.0,-97.876045,1.98,1993.0,2.0,0.0,...,1993.0,29487158.0,424999.0,1.0,2018.0,0.0,3.0,1.0,9321.0,160.680151
16479,78749.0,2.0,3.0,30.213816,1469.0,-97.873711,1.98,1992.0,2.0,2.0,...,1992.0,29491564.0,316000.0,1.0,2018.0,0.0,5.0,5.0,10280.0,215.112321
16480,78749.0,2.5,3.0,30.218878,1700.0,-97.864960,1.98,1986.0,NaN,0.0,...,1986.0,29486556.0,384900.0,1.0,2018.0,0.0,1.0,1.0,8450.0,226.411765

In [54]:
df3.mean().round(1)

address_zipcode                                 78735.9
bathrooms                                           2.7
bedrooms                                            3.4
latitude                                           30.3
livingArea                                       2153.2
longitude                                         -97.8
propertyTaxRate                                     2.0
resoFactsStats_atAGlanceFacts_1_factValue        1987.5
resoFactsStats_bathrooms                            2.6
resoFactsStats_bathroomsFull                        2.0
resoFactsStats_bathroomsHalf                        0.4
resoFactsStats_bathroomsThreeQuarter                0.0
resoFactsStats_bedrooms                             3.4
coveredSpaces                                       1.7
furnished                                           0.0
garageSpaces                                        1.2
hasAttachedGarage                                   0.0
hasCarport                                          0.0
hasCooling                                          1.0
hasGarage                                           0.6
hasHeating                                          1.0
hasSpa                                              0.1
hasView                                             0.2
parking                                             1.2
stories                                             1.5
taxAnnualAmount                                  8795.3
taxAssessedValue                               451300.2
resoFactsStats_yearBuilt                         1987.5
schools_0_distance                                  0.9
schools_0_rating                                    6.1
schools_0_size                                    640.6
schools_0_studentsPerTeacher                       14.5
schools_0_totalCount                                1.0
schools_1_distance                                  1.9
schools_1_rating                                    5.2
schools_1_size                                    957.7
schools_1_studentsPerTeacher                       14.2
schools_1_totalCount                                1.0
schools_2_distance                                  2.6
schools_2_rating                                    5.8
schools_2_studentsPerTeacher                       15.6
schools_2_totalCount                                1.0
yearBuilt                                        1987.7
zpid                                         86249744.1
latest_price                                   521228.6
latest_salemonth                                    6.8
latest_saleyear                                  2019.1
numOfAccessibilityFeatures                          0.0
numOfAppliances                                     3.5
numPriceChanges                                     3.1
lotSize_sqft                                   124148.0
price_per_sqft                                   1181.4
dtype: float64

In [55]:
df3.shape

(14733, 52)

In [56]:
(df3.address_zipcode.min(), df3.address_zipcode.max())

(78617.0, 78759.0)

In [57]:
df3.address_zipcode.dtype

dtype('float64')

In [58]:
df3['zipcode'] = df3.address_zipcode.astype('int')

In [59]:
df3 = df3.set_index(['zipcode'])

In [60]:
df3.head()

,address_zipcode,bathrooms,bedrooms,latitude,livingArea,longitude,propertyTaxRate,resoFactsStats_atAGlanceFacts_1_factValue,resoFactsStats_bathrooms,resoFactsStats_bathroomsFull,...,yearBuilt,zpid,latest_price,latest_salemonth,latest_saleyear,numOfAccessibilityFeatures,numOfAppliances,numPriceChanges,lotSize_sqft,price_per_sqft
zipcode,,,,,,,,,,,,,,,,,,,,,
78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,4.0,...,2007.0,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374
78732,78732.0,5.0,5.0,30.355553,4558.0,-97.912544,1.98,2007.0,5.0,5.0,...,2007.0,70352465.0,1025000.0,8.0,2020.0,0.0,3.0,2.0,28749.6,224.879333
78732,78732.0,4.0,4.0,30.352081,4749.0,-97.912048,1.98,2011.0,4.0,3.0,...,2011.0,70352478.0,825000.0,6.0,2018.0,0.0,1.0,4.0,21344.4,173.720783
78732,78732.0,4.0,4.0,30.356226,4867.0,-97.911697,1.98,2009.0,4.0,4.0,...,2009.0,70352461.0,849000.0,8.0,2019.0,0.0,4.0,7.0,20908.8,174.440107
78732,78732.0,4.0,5.0,30.341896,3485.0,-97.907944,1.98,2009.0,4.0,3.0,...,2009.0,89028960.0,625000.0,7.0,2019.0,0.0,4.0,4.0,7797.0,179.340029

# load the US Income data for Austin and merge it with Austin House Listings cleaned data

In [61]:
# load the us_income data
df1_inc = pd.read_csv('../01_raw_data/us_income_zipcode.csv', low_memory=False)

In [62]:
df1_inc.shape

(364998, 111)

In [63]:
df2_inc = df1_inc[df1_inc['ZIP'].between(78617,78759)]

In [64]:
df2_inc.shape

(1025, 111)

In [65]:
list(df2_inc.columns)

['ZIP',
 'Geography',
 'Geographic Area Name',
 'Households',
 'Households Margin of Error',
 'Households Less Than $10,000',
 'Households Less Than $10,000 Margin of Error',
 'Households $10,000 to $14,999',
 'Households $10,000 to $14,999 Margin of Error',
 'Households $15,000 to $24,999',
 'Households $15,000 to $24,999 Margin of Error',
 'Households $25,000 to $34,999',
 'Households $25,000 to $34,999 Margin of Error',
 'Households $35,000 to $49,999',
 'Households $35,000 to $49,999 Margin of Error',
 'Households $50,000 to $74,999',
 'Households $50,000 to $74,999 Margin of Error',
 'Households $75,000 to $99,999',
 'Households $75,000 to $99,999 Margin of Error',
 'Households $100,000 to $149,999',
 'Households $100,000 to $149,999 Margin of Error',
 'Households $150,000 to $199,999',
 'Households $150,000 to $199,999 Margin of Error',
 'Households $200,000 or More',
 'Households $200,000 or More Margin of Error',
 'Households Median Income (Dollars)',
 'Households Median Income (Dollars) Margin of Error',
 'Households Mean Income (Dollars)',
 'Households Mean Income (Dollars) Margin of Error',
 'Households Household Income in the Past 12 Months',
 'Families',
 'Families Margin of Error',
 'Families Less Than $10,000',
 'Families Less Than $10,000 Margin of Error',
 'Families $10,000 to $14,999',
 'Families $10,000 to $14,999 Margin of Error',
 'Families $15,000 to $24,999',
 'Families $15,000 to $24,999 Margin of Error',
 'Families $25,000 to $34,999',
 'Families $25,000 to $34,999 Margin of Error',
 'Families $35,000 to $49,999',
 'Families $35,000 to $49,999 Margin of Error',
 'Families $50,000 to $74,999',
 'Families $50,000 to $74,999 Margin of Error',
 'Families $75,000 to $99,999',
 'Families $75,000 to $99,999 Margin of Error',
 'Families $100,000 to $149,999',
 'Families $100,000 to $149,999 Margin of Error',
 'Families $150,000 to $199,999',
 'Families $150,000 to $199,999 Margin of Error',
 'Families $200,000 or More',
 'Families $200,000 or More Margin of Error',
 'Families Median Income (Dollars)',
 'Families Median Income (Dollars) Margin of Error',
 'Families Mean Income (Dollars)',
 'Families Mean Income (Dollars) Margin of Error',
 'Families Family Income in the Past 12 Months',
 'Married-Couple Families',
 'Married-Couple Families Margin of Error',
 'Married-Couple Families Less Than $10,000',
 'Married-Couple Families Less Than $10,000 Margin of Error',
 'Married-Couple Families $10,000 to $14,999',
 'Married-Couple Families $10,000 to $14,999 Margin of Error',
 'Married-Couple Families $15,000 to $24,999',
 'Married-Couple Families $15,000 to $24,999 Margin of Error',
 'Married-Couple Families $25,000 to $34,999',
 'Married-Couple Families $25,000 to $34,999 Margin of Error',
 'Married-Couple Families $35,000 to $49,999',
 'Married-Couple Families $35,000 to $49,999 Margin of Error',
 'Married-Couple Families $50,000 to $74,999',
 'Married-Couple Families $50,000 to $74,999 Margin of Error',
 'Married-Couple Families $75,000 to $99,999',
 'Married-Couple Families $75,000 to $99,999 Margin of Error',
 'Married-Couple Families $100,000 to $149,999',
 'Married-Couple Families $100,000 to $149,999 Margin of Error',
 'Married-Couple Families $150,000 to $199,999',
 'Married-Couple Families $150,000 to $199,999 Margin of Error',
 'Married-Couple Families $200,000 or More',
 'Married-Couple Families $200,000 or More Margin of Error',
 'Married-Couple Families Median Income (Dollars)',
 'Married-Couple Families Median Income (Dollars) Margin of Error',
 'Married-Couple Families Mean Income (Dollars)',
 'Married-Couple Families Mean Income (Dollars) Margin of Error',
 'Nonfamily Households',
 'Nonfamily Households Margin of Error',
 'Nonfamily Households Less Than $10,000',
 'Nonfamily Households Less Than $10,000 Margin of Error',
 'Nonfamily Households $10,000 to $14,999',
 'Nonfamily Households $10,000 to $14,999 Margin of Error',
 'Nonfamily Households $15,000 to $24,999',
 'Nonfamily Households $15,000 to $24,999 Margin of Error',
 'Nonfamily Households $25,000 to $34,999',
 'Nonfamily Households $25,000 to $34,999 Margin of Error',
 'Nonfamily Households $35,000 to $49,999',
 'Nonfamily Households $35,000 to $49,999 Margin of Error',
 'Nonfamily Households $50,000 to $74,999',
 'Nonfamily Households $50,000 to $74,999 Margin of Error',
 'Nonfamily Households $75,000 to $99,999',
 'Nonfamily Households $75,000 to $99,999 Margin of Error',
 'Nonfamily Households $100,000 to $149,999',
 'Nonfamily Households $100,000 to $149,999 Margin of Error',
 'Nonfamily Households $150,000 to $199,999',
 'Nonfamily Households $150,000 to $199,999 Margin of Error',
 'Nonfamily Households $200,000 or More',
 'Nonfamily Households $200,000 or More Margin of Error',
 'Nonfamily Households Median Income (Dollars)',
 'Nonfamily Households Median Income (Dollars) Margin of Error',
 'Nonfamily Households Mean Income (Dollars)',
 'Nonfamily Households Mean Income (Dollars) Margin of Error',
 'Nonfamily Households Nonfamily Income in the Past 12 Months',
 'Year']

In [66]:
df2_inc = df2_inc.set_index(['ZIP'])

In [67]:
df2_inc.head()

,Geography,Geographic Area Name,Households,Households Margin of Error,"Households Less Than $10,000","Households Less Than $10,000 Margin of Error","Households $10,000 to $14,999","Households $10,000 to $14,999 Margin of Error","Households $15,000 to $24,999","Households $15,000 to $24,999 Margin of Error",...,"Nonfamily Households $150,000 to $199,999","Nonfamily Households $150,000 to $199,999 Margin of Error","Nonfamily Households $200,000 or More","Nonfamily Households $200,000 or More Margin of Error",Nonfamily Households Median Income (Dollars),Nonfamily Households Median Income (Dollars) Margin of Error,Nonfamily Households Mean Income (Dollars),Nonfamily Households Mean Income (Dollars) Margin of Error,Nonfamily Households Nonfamily Income in the Past 12 Months,Year
ZIP,,,,,,,,,,,,,,,,,,,,,
78617,860Z200US78617,ZCTA5 78617,7662.0,682.0,3.0,2.3,1.7,2.0,3.7,1.8,...,2.1,3.4,2.6,4.0,44941.0,7175.0,56019.0,12104.0,46.5,2021.0
78618,860Z200US78618,ZCTA5 78618,129.0,50.0,6.2,6.8,0.8,2.4,5.4,5.5,...,14.8,22.7,14.8,15.0,44688.0,32515.0,154152.0,98763.0,37.0,2021.0
78619,860Z200US78619,ZCTA5 78619,2159.0,372.0,0.0,2.2,1.0,1.2,0.0,2.2,...,0.0,25.9,0.0,25.9,86354.0,28771.0,75649.0,16152.0,16.8,2021.0
78620,860Z200US78620,ZCTA5 78620,6538.0,432.0,1.5,1.0,3.4,2.1,2.9,1.4,...,4.8,3.9,5.4,4.2,47183.0,12833.0,70972.0,13816.0,27.4,2021.0
78621,860Z200US78621,ZCTA5 78621,8103.0,552.0,5.0,2.3,2.2,1.4,2.4,1.4,...,12.2,15.1,2.0,3.0,72837.0,21942.0,80298.0,21264.0,39.2,2021.0

In [68]:
#Analyze Data across a row
dict(df2_inc.iloc[0])

{'Geography': '860Z200US78617',
 'Geographic Area Name': 'ZCTA5 78617',
 'Households': 7662.0,
 'Households Margin of Error': 682.0,
 'Households Less Than $10,000': 3.0,
 'Households Less Than $10,000 Margin of Error': 2.3,
 'Households $10,000 to $14,999': 1.7,
 'Households $10,000 to $14,999 Margin of Error': 2.0,
 'Households $15,000 to $24,999': 3.7,
 'Households $15,000 to $24,999 Margin of Error': 1.8,
 'Households $25,000 to $34,999': 6.6,
 'Households $25,000 to $34,999 Margin of Error': 2.4,
 'Households $35,000 to $49,999': 19.2,
 'Households $35,000 to $49,999 Margin of Error': 6.4,
 'Households $50,000 to $74,999': 20.1,
 'Households $50,000 to $74,999 Margin of Error': 4.9,
 'Households $75,000 to $99,999': 10.3,
 'Households $75,000 to $99,999 Margin of Error': 3.9,
 'Households $100,000 to $149,999': 23.0,
 'Households $100,000 to $149,999 Margin of Error': 5.4,
 'Households $150,000 to $199,999': 6.0,
 'Households $150,000 to $199,999 Margin of Error': 2.8,
 'Households $200,000 or More': 6.4,
 'Households $200,000 or More Margin of Error': 3.2,
 'Households Median Income (Dollars)': 68069.0,
 'Households Median Income (Dollars) Margin of Error': 6563.0,
 'Households Mean Income (Dollars)': 99354.0,
 'Households Mean Income (Dollars) Margin of Error': 21708.0,
 'Households Household Income in the Past 12 Months': 59.6,
 'Families': 6166.0,
 'Families Margin of Error': 619.0,
 'Families Less Than $10,000': 4.0,
 'Families Less Than $10,000 Margin of Error': 4.2,
 'Families $10,000 to $14,999': 0.6,
 'Families $10,000 to $14,999 Margin of Error': 0.6,
 'Families $15,000 to $24,999': 3.9,
 'Families $15,000 to $24,999 Margin of Error': 1.8,
 'Families $25,000 to $34,999': 6.1,
 'Families $25,000 to $34,999 Margin of Error': 2.6,
 'Families $35,000 to $49,999': 14.4,
 'Families $35,000 to $49,999 Margin of Error': 5.9,
 'Families $50,000 to $74,999': 19.5,
 'Families $50,000 to $74,999 Margin of Error': 5.4,
 'Families $75,000 to $99,999': 13.3,
 'Families $75,000 to $99,999 Margin of Error': 4.8,
 'Families $100,000 to $149,999': 25.4,
 'Families $100,000 to $149,999 Margin of Error': 6.4,
 'Families $150,000 to $199,999': 6.7,
 'Families $150,000 to $199,999 Margin of Error': 3.1,
 'Families $200,000 or More': 6.1,
 'Families $200,000 or More Margin of Error': 3.7,
 'Families Median Income (Dollars)': 79274.0,
 'Families Median Income (Dollars) Margin of Error': 12388.0,
 'Families Mean Income (Dollars)': 106461.0,
 'Families Mean Income (Dollars) Margin of Error': 27514.0,
 'Families Family Income in the Past 12 Months': 60.8,
 'Married-Couple Families': 4100.0,
 'Married-Couple Families Margin of Error': 583.0,
 'Married-Couple Families Less Than $10,000': 0.2,
 'Married-Couple Families Less Than $10,000 Margin of Error': 0.3,
 'Married-Couple Families $10,000 to $14,999': 0.2,
 'Married-Couple Families $10,000 to $14,999 Margin of Error': 0.3,
 'Married-Couple Families $15,000 to $24,999': 1.8,
 'Married-Couple Families $15,000 to $24,999 Margin of Error': 1.9,
 'Married-Couple Families $25,000 to $34,999': 7.0,
 'Married-Couple Families $25,000 to $34,999 Margin of Error': 3.9,
 'Married-Couple Families $35,000 to $49,999': 10.5,
 'Married-Couple Families $35,000 to $49,999 Margin of Error': 7.1,
 'Married-Couple Families $50,000 to $74,999': 24.1,
 'Married-Couple Families $50,000 to $74,999 Margin of Error': 7.7,
 'Married-Couple Families $75,000 to $99,999': 6.6,
 'Married-Couple Families $75,000 to $99,999 Margin of Error': 4.3,
 'Married-Couple Families $100,000 to $149,999': 31.2,
 'Married-Couple Families $100,000 to $149,999 Margin of Error': 8.1,
 'Married-Couple Families $150,000 to $199,999': 9.1,
 'Married-Couple Families $150,000 to $199,999 Margin of Error': 4.4,
 'Married-Couple Families $200,000 or More': 9.2,
 'Married-Couple Families $200,000 or More Margin of Error': 5.7,
 'Married-Couple Families Median Income (Dollars)': 98448.0,
 'Married-Couple Families Median Income (Dollars) Margin of Error': 28582.0,
 'Married-Couple Families Mean Income (Dollars)': nan,
 'Married-Couple Families Mean Income (Dollars) Margin of Error': nan,
 'Nonfamily Households': 1496.0,
 'Nonfamily Households Margin of Error': 477.0,
 'Nonfamily Households Less Than $10,000': 7.1,
 'Nonfamily Households Less Than $10,000 Margin of Error': 6.9,
 'Nonfamily Households $10,000 to $14,999': 7.6,
 'Nonfamily Households $10,000 to $14,999 Margin of Error': 9.8,
 'Nonfamily Households $15,000 to $24,999': 4.9,
 'Nonfamily Households $15,000 to $24,999 Margin of Error': 5.8,
 'Nonfamily Households $25,000 to $34,999': 9.0,
 'Nonfamily Households $25,000 to $34,999 Margin of Error': 6.2,
 'Nonfamily Households $35,000 to $49,999': 39.6,
 'Nonfamily Households $35,000 to $49,999 Margin of Error': 17.0,
 'Nonfamily Households $50,000 to $74,999': 13.6,
 'Nonfamily Households $50,000 to $74,999 Margin of Error': 8.7,
 'Nonfamily Households $75,000 to $99,999': 1.8,
 'Nonfamily Households $75,000 to $99,999 Margin of Error': 2.3,
 'Nonfamily Households $100,000 to $149,999': 11.7,
 'Nonfamily Households $100,000 to $149,999 Margin of Error': 9.3,
 'Nonfamily Households $150,000 to $199,999': 2.1,
 'Nonfamily Households $150,000 to $199,999 Margin of Error': 3.4,
 'Nonfamily Households $200,000 or More': 2.6,
 'Nonfamily Households $200,000 or More Margin of Error': 4.0,
 'Nonfamily Households Median Income (Dollars)': 44941.0,
 'Nonfamily Households Median Income (Dollars) Margin of Error': 7175.0,
 'Nonfamily Households Mean Income (Dollars)': 56019.0,
 'Nonfamily Households Mean Income (Dollars) Margin of Error': 12104.0,
 'Nonfamily Households Nonfamily Income in the Past 12 Months': 46.5,
 'Year': 2021.0}

In [69]:
selected_cols = [col for col in df2_inc.columns if 'Mean Income' in col and 'Margin of Error' not in col]

In [70]:
df2_inc = df2_inc[selected_cols]

In [71]:
df2_inc.head()

,Households Mean Income (Dollars),Families Mean Income (Dollars),Married-Couple Families Mean Income (Dollars),Nonfamily Households Mean Income (Dollars)
ZIP,,,,
78617,99354.0,106461.0,NaN,56019.0
78618,105468.0,92582.0,NaN,154152.0
78619,165887.0,169968.0,NaN,75649.0
78620,151574.0,165526.0,NaN,70972.0
78621,94097.0,95930.0,NaN,80298.0

In [72]:
df2_inc.shape

(1025, 4)

In [73]:
df2_inc_average = df2_inc.mean(axis = 1).round(1)

In [74]:
df2_inc['zip_inc_ave'] = df2_inc.mean(axis = 1).round(2)

In [75]:
df2_inc.columns

Index(['Households Mean Income (Dollars)', 'Families Mean Income (Dollars)',
       'Married-Couple Families Mean Income (Dollars)',
       'Nonfamily Households Mean Income (Dollars)', 'zip_inc_ave'],
      dtype='object')

In [76]:
df2_inc.rename(columns={'ZIP': 'zipcode', '': 'inc_average'}, inplace=True)
df2_inc.head()

,Households Mean Income (Dollars),Families Mean Income (Dollars),Married-Couple Families Mean Income (Dollars),Nonfamily Households Mean Income (Dollars),zip_inc_ave
ZIP,,,,,
78617,99354.0,106461.0,NaN,56019.0,87278.00
78618,105468.0,92582.0,NaN,154152.0,117400.67
78619,165887.0,169968.0,NaN,75649.0,137168.00
78620,151574.0,165526.0,NaN,70972.0,129357.33
78621,94097.0,95930.0,NaN,80298.0,90108.33

In [77]:
df3.head()

,address_zipcode,bathrooms,bedrooms,latitude,livingArea,longitude,propertyTaxRate,resoFactsStats_atAGlanceFacts_1_factValue,resoFactsStats_bathrooms,resoFactsStats_bathroomsFull,...,yearBuilt,zpid,latest_price,latest_salemonth,latest_saleyear,numOfAccessibilityFeatures,numOfAppliances,numPriceChanges,lotSize_sqft,price_per_sqft
zipcode,,,,,,,,,,,,,,,,,,,,,
78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,4.0,...,2007.0,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374
78732,78732.0,5.0,5.0,30.355553,4558.0,-97.912544,1.98,2007.0,5.0,5.0,...,2007.0,70352465.0,1025000.0,8.0,2020.0,0.0,3.0,2.0,28749.6,224.879333
78732,78732.0,4.0,4.0,30.352081,4749.0,-97.912048,1.98,2011.0,4.0,3.0,...,2011.0,70352478.0,825000.0,6.0,2018.0,0.0,1.0,4.0,21344.4,173.720783
78732,78732.0,4.0,4.0,30.356226,4867.0,-97.911697,1.98,2009.0,4.0,4.0,...,2009.0,70352461.0,849000.0,8.0,2019.0,0.0,4.0,7.0,20908.8,174.440107
78732,78732.0,4.0,5.0,30.341896,3485.0,-97.907944,1.98,2009.0,4.0,3.0,...,2009.0,89028960.0,625000.0,7.0,2019.0,0.0,4.0,4.0,7797.0,179.340029

In [78]:
df3.shape

(14733, 52)

In [79]:
df2_inc_average.head()

ZIP
78617     87278.0
78618    117400.7
78619    137168.0
78620    129357.3
78621     90108.3
dtype: float64

In [80]:
df2_inc_average.tail()

ZIP
78754    60590.3
78756    84134.3
78757    67990.0
78758    52497.7
78759    91688.0
dtype: float64

In [81]:
df2_inc_average.shape

(1025,)

In [82]:
type(df2_inc_average)

pandas.core.series.Series

In [83]:
df3_inc_average = pd.DataFrame(df2_inc_average)
type(df3_inc_average)

pandas.core.frame.DataFrame

In [84]:
df3_inc_average.head(2)

              0
ZIP
78617   87278.0
78618  117400.7

In [85]:
df4 = df3.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill="")
df4.head()

,zipcode,address_zipcode,bathrooms,bedrooms,latitude,livingArea,longitude,propertyTaxRate,resoFactsStats_atAGlanceFacts_1_factValue,resoFactsStats_bathrooms,...,yearBuilt,zpid,latest_price,latest_salemonth,latest_saleyear,numOfAccessibilityFeatures,numOfAppliances,numPriceChanges,lotSize_sqft,price_per_sqft
0,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,2007.0,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374
1,78732,78732.0,5.0,5.0,30.355553,4558.0,-97.912544,1.98,2007.0,5.0,...,2007.0,70352465.0,1025000.0,8.0,2020.0,0.0,3.0,2.0,28749.6,224.879333
2,78732,78732.0,4.0,4.0,30.352081,4749.0,-97.912048,1.98,2011.0,4.0,...,2011.0,70352478.0,825000.0,6.0,2018.0,0.0,1.0,4.0,21344.4,173.720783
3,78732,78732.0,4.0,4.0,30.356226,4867.0,-97.911697,1.98,2009.0,4.0,...,2009.0,70352461.0,849000.0,8.0,2019.0,0.0,4.0,7.0,20908.8,174.440107
4,78732,78732.0,4.0,5.0,30.341896,3485.0,-97.907944,1.98,2009.0,4.0,...,2009.0,89028960.0,625000.0,7.0,2019.0,0.0,4.0,4.0,7797.0,179.340029

In [86]:
df4_inc_average = df3_inc_average.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill="")
df4_inc_average.head()

     ZIP         0
0  78617   87278.0
1  78618  117400.7
2  78619  137168.0
3  78620  129357.3
4  78621   90108.3

In [87]:
df4_inc_average.rename(columns={'ZIP': 'zipcode', '0': 'average_income'}, inplace=True)
df4_inc_average.head()

   zipcode         0
0    78617   87278.0
1    78618  117400.7
2    78619  137168.0
3    78620  129357.3
4    78621   90108.3

In [88]:
df4_inc_average.shape

(1025, 2)

In [89]:
df4.shape

(14733, 53)

In [90]:
merged_df = pd.merge(df4, df4_inc_average, on='zipcode', how='left')
merged_df.shape

C:\Users\famma\AppData\Local\Temp\ipykernel_16924\4228725122.py:1: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  merged_df = pd.merge(df4, df4_inc_average, on='zipcode', how='left')

(162063, 54)

In [91]:
merged_df.head()

,zipcode,address_zipcode,bathrooms,bedrooms,latitude,livingArea,longitude,propertyTaxRate,resoFactsStats_atAGlanceFacts_1_factValue,resoFactsStats_bathrooms,...,zpid,latest_price,latest_salemonth,latest_saleyear,numOfAccessibilityFeatures,numOfAppliances,numPriceChanges,lotSize_sqft,price_per_sqft,0
0,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,194007.3
1,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,195901.3
2,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,186103.0
3,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,172963.7
4,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,162950.7

In [92]:
merged_df.rename(columns={'ZIP': 'zipcode', '0': 'average_income'}, inplace=True)
merged_df.head()

,zipcode,address_zipcode,bathrooms,bedrooms,latitude,livingArea,longitude,propertyTaxRate,resoFactsStats_atAGlanceFacts_1_factValue,resoFactsStats_bathrooms,...,zpid,latest_price,latest_salemonth,latest_saleyear,numOfAccessibilityFeatures,numOfAppliances,numPriceChanges,lotSize_sqft,price_per_sqft,0
0,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,194007.3
1,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,195901.3
2,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,186103.0
3,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,172963.7
4,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,162950.7

In [93]:
merged_df.rename(columns={merged_df.columns[-1]: 'income_ave'}, inplace=True)
merged_df.head()

,zipcode,address_zipcode,bathrooms,bedrooms,latitude,livingArea,longitude,propertyTaxRate,resoFactsStats_atAGlanceFacts_1_factValue,resoFactsStats_bathrooms,...,zpid,latest_price,latest_salemonth,latest_saleyear,numOfAccessibilityFeatures,numOfAppliances,numPriceChanges,lotSize_sqft,price_per_sqft,income_ave
0,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,194007.3
1,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,195901.3
2,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,186103.0
3,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,172963.7
4,78732,78732.0,5.0,4.0,30.354322,4060.0,-97.911278,1.98,2007.0,5.0,...,70352485.0,715000.0,2.0,2018.0,0.0,3.0,1.0,15681.6,176.108374,162950.7

In [94]:
merged_df.columns

Index(['zipcode', 'address_zipcode', 'bathrooms', 'bedrooms', 'latitude',
       'livingArea', 'longitude', 'propertyTaxRate',
       'resoFactsStats_atAGlanceFacts_1_factValue', 'resoFactsStats_bathrooms',
       'resoFactsStats_bathroomsFull', 'resoFactsStats_bathroomsHalf',
       'resoFactsStats_bathroomsThreeQuarter', 'resoFactsStats_bedrooms',
       'coveredSpaces', 'furnished', 'garageSpaces', 'hasAttachedGarage',
       'hasCarport', 'hasCooling', 'hasGarage', 'hasHeating', 'hasSpa',
       'hasView', 'parking', 'stories', 'taxAnnualAmount', 'taxAssessedValue',
       'resoFactsStats_yearBuilt', 'schools_0_distance', 'schools_0_rating',
       'schools_0_size', 'schools_0_studentsPerTeacher',
       'schools_0_totalCount', 'schools_1_distance', 'schools_1_rating',
       'schools_1_size', 'schools_1_studentsPerTeacher',
       'schools_1_totalCount', 'schools_2_distance', 'schools_2_rating',
       'schools_2_studentsPerTeacher', 'schools_2_totalCount', 'yearBuilt',
       'zpid', 'latest_price', 'latest_salemonth', 'latest_saleyear',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numPriceChanges',
       'lotSize_sqft', 'price_per_sqft', 'income_ave'],
      dtype='object')

In [103]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 162063 entries, 0 to 162062
Data columns (total 54 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   zipcode                                    162063 non-null  int64
 1   address_zipcode                            162063 non-null  float64
 2   bathrooms                                  160765 non-null  float64
 3   bedrooms                                   161568 non-null  float64
 4   latitude                                   162063 non-null  float64
 5   livingArea                                 162063 non-null  float64
 6   longitude                                  162063 non-null  float64
 7   propertyTaxRate                            162063 non-null  float64
 8   resoFactsStats_atAGlanceFacts_1_factValue  162063 non-null  float64
 9   resoFactsStats_bathrooms                   160325 non-null  float64
 10  resoFactsStats_bathroomsFull               162063 non-null  float64
 11  resoFactsStats_bathroomsHalf               162063 non-null  float64
 12  resoFactsStats_bathroomsThreeQuarter       159984 non-null  float64
 13  resoFactsStats_bedrooms                    162019 non-null  float64
 14  coveredSpaces                              70598 non-null   float64
 15  furnished                                  162063 non-null  object
 16  garageSpaces                               162063 non-null  float64
 17  hasAttachedGarage                          162063 non-null  object
 18  hasCarport                                 162063 non-null  object
 19  hasCooling                                 162063 non-null  object
 20  hasGarage                                  162063 non-null  object
 21  hasHeating                                 162063 non-null  object
 22  hasSpa                                     162063 non-null  object
 23  hasView                                    162063 non-null  object
 24  parking                                    162063 non-null  float64
 25  stories                                    157256 non-null  float64
 26  taxAnnualAmount                            152911 non-null  float64
 27  taxAssessedValue                           159434 non-null  float64
 28  resoFactsStats_yearBuilt                   162063 non-null  float64
 29  schools_0_distance                         162063 non-null  float64
 30  schools_0_rating                           162063 non-null  float64
 31  schools_0_size                             162063 non-null  float64
 32  schools_0_studentsPerTeacher               161183 non-null  float64
 33  schools_0_totalCount                       162063 non-null  float64
 34  schools_1_distance                         162063 non-null  float64
 35  schools_1_rating                           162063 non-null  float64
 36  schools_1_size                             162063 non-null  float64
 37  schools_1_studentsPerTeacher               158411 non-null  float64
 38  schools_1_totalCount                       162063 non-null  float64
 39  schools_2_distance                         162063 non-null  float64
 40  schools_2_rating                           162063 non-null  float64
 41  schools_2_studentsPerTeacher               162063 non-null  float64
 42  schools_2_totalCount                       162063 non-null  float64
 43  yearBuilt                                  162052 non-null  float64
 44  zpid                                       162063 non-null  float64
 45  latest_price                               162063 non-null  float64
 46  latest_salemonth                           162063 non-null  float64
 47  latest_saleyear                            162063 non-null  float64
 48  numOfAccessibilityFeatures                 162063 non-null  float64
 49  numOfAppliances                            162063 non-null  float64
 50  numPriceChanges                            162063 non-null  float64
 51  lotSize_sqft                               161799 non-null  float64
 52  price_per_sqft                             162063 non-null  float64
 53  income_ave                                 162063 non-null  float64
dtypes: float64(45), int64(1), object(8)
memory usage: 68.0+ MB

In [108]:
# Save the DataFrame to a CSV file
merged_df.to_csv('../03_processed_data/austin_housePrice_and_income_data.csv', index=False)

print("DataFrame saved to 'austin_housePrice_and_income_data.csv'.")

#datapath = '../03_processed_data'
#save_file(merged_df, 'austin_housePrice_and_income_data.csv', datapath)

DataFrame saved to 'austin_housePrice_and_income_data.csv'.