# Import packages

In [1]:
# First, import the relevant modules and packages
import pandas as pd
import numpy as np
from matplotlib import pyplot

In [2]:
# Import Austin_TX_House_Listings_data_v1.csv & us_income_zipcode.csv
df1 = pd.read_csv('../01_raw_data/AustinTXHouseListingsDataV1.csv', low_memory=False)

In [3]:
#Evaluate data
df1.head()

,Unnamed: 0.1,Unnamed: 0,address_city,address_neighborhood,address_state,address_streetAddress,address_subdivision,address_zipcode,bathrooms,bedrooms,...,latest_salemonth,latest_saleyear,latest_price_source,numOfAccessibilityFeatures,numOfAppliances,numPhotos,numPriceChanges,photo,imagepath,cleanpath
0,0,15,Austin,NaN,TX,12801 Wooded Lake Ct,NaN,78732,5.0,4.0,...,2,2018,Agent Provided,0,3,39,1,https://photos.zillowstatic.com/fp/911f9a59acb...,/content/gdrive/MyDrive/zillow-images/70352485...,70352485_911f9a59acb6fe5fd909538a685e2a0c-p_f.jpg
1,1,16,Austin,NaN,TX,904 Lakewood Hills Ter,NaN,78732,5.0,5.0,...,8,2020,Broker Provided,0,3,58,2,https://photos.zillowstatic.com/fp/c6346c4a39d...,/content/gdrive/MyDrive/zillow-images/70352465...,70352465_c6346c4a39d1f87578ee1529329d9296-p_f.jpg
2,2,17,Austin,NaN,TX,13701 Montview Dr,NaN,78732,3.5,NaN,...,3,2018,Agent Provided,0,0,1,1,https://maps.googleapis.com/maps/api/streetvie...,/content/gdrive/MyDrive/zillow-images/83823478...,83823478_streetviewlocation13701MontviewDr2CAu...
3,3,18,Austin,NaN,TX,700 Lakewood Hills Ter,NaN,78732,4.0,4.0,...,6,2018,Agent Provided,0,1,40,4,https://photos.zillowstatic.com/fp/805b5a6b748...,/content/gdrive/MyDrive/zillow-images/70352478...,70352478_805b5a6b748b1d9cffeb93a4c41fedb0-p_f.jpg
4,4,19,Austin,Steiner Ranch-Lakewood Hills,TX,1008 Lakewood Hills Ter,NaN,78732,4.0,4.0,...,8,2019,Broker Provided,0,4,40,7,https://photos.zillowstatic.com/fp/a09cfad45a9...,/content/gdrive/MyDrive/zillow-images/70352461...,70352461_a09cfad45a949f7195c9540224f51e49-p_f.jpg

In [4]:
df1.shape

(16482, 736)

It looks like our data has more features (columns) than we need

In [5]:
#Analyze the summary of the data
df1.info

<bound method DataFrame.info of        Unnamed: 0.1  Unnamed: 0 address_city          address_neighborhood  \
0                 0          15       Austin                           NaN
1                 1          16       Austin                           NaN
2                 2          17       Austin                           NaN
3                 3          18       Austin                           NaN
4                 4          19       Austin  Steiner Ranch-Lakewood Hills
...             ...         ...          ...                           ...
16477         16479       22067       Austin                           NaN
16478         16480       22070       Austin                           NaN
16479         16481       22072       Austin                           NaN
16480         16482       22073       Austin                           NaN
16481         16483       22074       Austin                           NaN

      address_state    address_streetAddress address_subdivision  \
0                TX     12801 Wooded Lake Ct                 NaN
1                TX   904 Lakewood Hills Ter                 NaN
2                TX        13701 Montview Dr                 NaN
3                TX   700 Lakewood Hills Ter                 NaN
4                TX  1008 Lakewood Hills Ter                 NaN
...             ...                      ...                 ...
16477            TX            6705 Rotan Dr                 NaN
16478            TX        6318 Clairmont Dr                 NaN
16479            TX         6104 Abilene Trl                 NaN
16480            TX         7702 Kincheon Ct                 NaN
16481            TX            5300 Indio Cv                 NaN

       address_zipcode  bathrooms  bedrooms  ...  latest_salemonth  \
0                78732        5.0       4.0  ...                 2
1                78732        5.0       5.0  ...                 8
2                78732        3.5       NaN  ...                 3
3                78732        4.0       4.0  ...                 6
4                78732        4.0       4.0  ...                 8
...                ...        ...       ...  ...               ...
16477            78749        2.0       3.0  ...                 1
16478            78749        2.0       4.0  ...                 1
16479            78749        2.0       3.0  ...                 1
16480            78749        2.5       3.0  ...                 1
16481            78745        NaN       NaN  ...                 1

      latest_saleyear latest_price_source  numOfAccessibilityFeatures  \
0                2018      Agent Provided                           0
1                2020     Broker Provided                           0
2                2018      Agent Provided                           0
3                2018      Agent Provided                           0
4                2019     Broker Provided                           0
...               ...                 ...                         ...
16477            2018      Agent Provided                           0
16478            2018      Agent Provided                           0
16479            2018      Agent Provided                           0
16480            2018      Agent Provided                           0
16481            2018      Agent Provided                           0

       numOfAppliances  numPhotos  numPriceChanges  \
0                    3         39                1
1                    3         58                2
2                    0          1                1
3                    1         40                4
4                    4         40                7
...                ...        ...              ...
16477                3         28                1
16478                3         33                1
16479                5         25                5
16480                1         27                1
16481                0         11                1

                                                   photo  \
0      https://photos.zillowstatic.com/fp/911f9a59acb...
1      https://photos.zillowstatic.com/fp/c6346c4a39d...
2      https://maps.googleapis.com/maps/api/streetvie...
3      https://photos.zillowstatic.com/fp/805b5a6b748...
4      https://photos.zillowstatic.com/fp/a09cfad45a9...
...                                                  ...
16477  https://photos.zillowstatic.com/fp/957677e9d1f...
16478  https://photos.zillowstatic.com/fp/2f26fb52681...
16479  https://photos.zillowstatic.com/fp/71a9662d303...
16480  https://photos.zillowstatic.com/fp/f452bc0f4ba...
16481  https://photos.zillowstatic.com/fp/eb612b3f7c8...

                                               imagepath  \
0      /content/gdrive/MyDrive/zillow-images/70352485...
1      /content/gdrive/MyDrive/zillow-images/70352465...
2      /content/gdrive/MyDrive/zillow-images/83823478...
3      /content/gdrive/MyDrive/zillow-images/70352478...
4      /content/gdrive/MyDrive/zillow-images/70352461...
...                                                  ...
16477  /content/gdrive/MyDrive/zillow-images/29484499...
16478  /content/gdrive/MyDrive/zillow-images/29487158...
16479  /content/gdrive/MyDrive/zillow-images/29491564...
16480  /content/gdrive/MyDrive/zillow-images/29486556...
16481  /content/gdrive/MyDrive/zillow-images/58314089...

                                               cleanpath
0      70352485_911f9a59acb6fe5fd909538a685e2a0c-p_f.jpg
1      70352465_c6346c4a39d1f87578ee1529329d9296-p_f.jpg
2      83823478_streetviewlocation13701MontviewDr2CAu...
3      70352478_805b5a6b748b1d9cffeb93a4c41fedb0-p_f.jpg
4      70352461_a09cfad45a949f7195c9540224f51e49-p_f.jpg
...                                                  ...
16477  29484499_957677e9d1f0de61c7b9e5637c7de6e8-p_f.jpg
16478  29487158_2f26fb52681290dd3e096cb85fc299ec-p_f.jpg
16479  29491564_71a9662d3031a1834e29f578f5a92b71-p_f.jpg
16480  29486556_f452bc0f4ba54fe11c89905773f38840-p_f.jpg
16481  58314089_eb612b3f7c80976715d8a54e389b8e15-p_f.jpg

[16482 rows x 736 columns]>

In [6]:
df1.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'address_city', 'address_neighborhood',
       'address_state', 'address_streetAddress', 'address_subdivision',
       'address_zipcode', 'bathrooms', 'bedrooms',
       ...
       'latest_salemonth', 'latest_saleyear', 'latest_price_source',
       'numOfAccessibilityFeatures', 'numOfAppliances', 'numPhotos',
       'numPriceChanges', 'photo', 'imagepath', 'cleanpath'],
      dtype='object', length=736)

In [7]:
# Analyze how the dependent variable, 'latest_price', is correlated with the rest of independent variables
dict(df1.corr()['latest_price'].abs().sort_values(ascending = False))

C:\Users\famma\AppData\Local\Temp\ipykernel_18424\1946049958.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dict(df1.corr()['latest_price'].abs().sort_values(ascending = False))

{'latest_price': 1.0,
 'taxAssessedValue': 0.8628559938898727,
 'taxAnnualAmount': 0.8156128587000064,
 'bathrooms': 0.551445307264037,
 'resoFactsStats_bathrooms': 0.47586093567052096,
 'livingArea': 0.3919678078297034,
 'resoFactsStats_bathroomsFull': 0.3854093485257164,
 'bedrooms': 0.3236994120035267,
 'resoFactsStats_bedrooms': 0.29769330047900794,
 'schools_2_rating': 0.2879634712029946,
 'schools_1_studentsPerTeacher': 0.2846390962391095,
 'schools_1_rating': 0.24097254565070483,
 'schools_0_rating': 0.23987455502465402,
 'schools_1_size': 0.23598605610932682,
 'resoFactsStats_bathroomsHalf': 0.22839099263704998,
 'stories': 0.21967042532231817,
 'numPhotos': 0.181905441001118,
 'longitude': 0.18157016525279043,
 'hasSpa': 0.17628657766491157,
 'coveredSpaces': 0.17196269771541464,
 'parking': 0.16639348500886164,
 'schools_2_studentsPerTeacher': 0.16305886359458596,
 'garageSpaces': 0.16297483664756376,
 'schools_0_distance': 0.15324071928582075,
 'address_zipcode': 0.15260452122630824,
 'schools_1_totalCount': 0.14486650071845195,
 'hasView': 0.14275532016926046,
 'Unnamed: 0': 0.12475641290313895,
 'Unnamed: 0.1': 0.12464958104519118,
 'schools_0_studentsPerTeacher': 0.12464746725702475,
 'schools_2_totalCount': 0.10115753200487596,
 'dateposted': 0.09826716159514191,
 'resoFactsStats_carportSpaces': 0.09643663115519464,
 'numPriceChanges': 0.0913696454170642,
 'hasGarage': 0.08369439350217442,
 'resoFactsStats_storiesTotal': 0.07596303128305554,
 'latitude': 0.07022132336594361,
 'resoFactsStats_fireplaces': 0.06860829547059644,
 'propertyTaxRate': 0.0677477912896971,
 'schools_2_distance': 0.06079743393931344,
 'latest_saleyear': 0.05902242901809534,
 'resoFactsStats_onMarketDate': 0.05782789369561438,
 'resoFactsStats_entryLevel': 0.0546186595164369,
 'schools_0_size': 0.05158673860745946,
 'numOfAppliances': 0.048005102478852854,
 'schools_1_distance': 0.0452957887257533,
 'resoFactsStats_numberOfUnitsInCommunity': 0.04217358564234661,
 'yearBuilt': 0.03898696642189114,
 'resoFactsStats_atAGlanceFacts_1_factValue': 0.03370009911514153,
 'resoFactsStats_yearBuilt': 0.03370009911514153,
 'latest_salemonth': 0.030104179805545347,
 'resoFactsStats_yearBuiltEffective': 0.02840714386246472,
 'hasCooling': 0.024395854193730918,
 'hasAttachedGarage': 0.02408645293562149,
 'zpid': 0.022708894636949806,
 'hasHeating': 0.02191664829324848,
 'schools_0_totalCount': 0.018536282442984126,
 'numOfAccessibilityFeatures': 0.015613537950382806,
 'resoFactsStats_bathroomsThreeQuarter': 0.014678085010352341,
 'hasCarport': 0.012878535527123565,
 'furnished': 0.007932289449372224,
 'schools_2_size': 0.004632798816866319,
 'resoFactsStats_bathroomsOneQuarter': 0.0012450357819431088,
 'resoFactsStats_appliances_13': nan,
 'resoFactsStats_appliances_14': nan,
 'resoFactsStats_appliances_15': nan,
 'resoFactsStats_appliances_16': nan,
 'resoFactsStats_appliances_17': nan,
 'resoFactsStats_appliances_18': nan,
 'resoFactsStats_appliances_19': nan,
 'resoFactsStats_appliances_20': nan,
 'resoFactsStats_associationFeeIncludes_5': nan,
 'resoFactsStats_associationFeeIncludes_6': nan,
 'resoFactsStats_associationFeeIncludes_7': nan,
 'resoFactsStats_associationFeeIncludes_8': nan,
 'resoFactsStats_associationFeeIncludes_9': nan,
 'resoFactsStats_atAGlanceFacts_7_factLabel': nan,
 'resoFactsStats_atAGlanceFacts_7_factValue': nan,
 'resoFactsStats_atAGlanceFacts_8_factLabel': nan,
 'resoFactsStats_atAGlanceFacts_8_factValue': nan,
 'resoFactsStats_builderModel': nan,
 'resoFactsStats_buildingArea': nan,
 'canRaiseHorses': nan,
 'resoFactsStats_communityFeatures_16': nan,
 'resoFactsStats_communityFeatures_17': nan,
 'resoFactsStats_communityFeatures_18': nan,
 'resoFactsStats_communityFeatures_19': nan,
 'resoFactsStats_communityFeatures_20': nan,
 'resoFactsStats_communityFeatures_21': nan,
 'resoFactsStats_communityFeatures_22': nan,
 'resoFactsStats_communityFeatures_23': nan,
 'resoFactsStats_communityFeatures_24': nan,
 'resoFactsStats_constructionMaterials_6': nan,
 'resoFactsStats_constructionMaterials_7': nan,
 'resoFactsStats_constructionMaterials_8': nan,
 'resoFactsStats_constructionMaterials_9': nan,
 'resoFactsStats_exteriorFeatures_7': nan,
 'resoFactsStats_exteriorFeatures_8': nan,
 'resoFactsStats_exteriorFeatures_9': nan,
 'resoFactsStats_exteriorFeatures_10': nan,
 'resoFactsStats_exteriorFeatures_11': nan,
 'resoFactsStats_fireplaceFeatures_6': nan,
 'resoFactsStats_fireplaceFeatures_7': nan,
 'resoFactsStats_foundationDetails_2': nan,
 'resoFactsStats_frontageLength': nan,
 'hasAdditionalParcels': nan,
 'hasAttachedProperty': nan,
 'hasOpenParking': nan,
 'hasPetsAllowed': nan,
 'resoFactsStats_heating_6': nan,
 'resoFactsStats_listingId': nan,
 'resoFactsStats_openParkingSpaces': nan,
 'resoFactsStats_otherFacts_58_name': nan,
 'resoFactsStats_otherFacts_62_name': nan,
 'resoFactsStats_otherFacts_73_name': nan,
 'resoFactsStats_otherFacts_77_name': nan,
 'resoFactsStats_otherFacts_78_name': nan,
 'resoFactsStats_otherFacts_81_name': nan,
 'resoFactsStats_otherFacts_82_name': nan,
 'resoFactsStats_otherFacts_84_name': nan,
 'resoFactsStats_otherFacts_85_name': nan,
 'resoFactsStats_otherFacts_86_name': nan,
 'resoFactsStats_otherFacts_88_name': nan,
 'resoFactsStats_otherFacts_90_name': nan,
 'resoFactsStats_otherFacts_92_name': nan,
 'resoFactsStats_otherFacts_94_name': nan,
 'resoFactsStats_otherFacts_95_name': nan,
 'resoFactsStats_otherFacts_96_name': nan,
 'resoFactsStats_otherFacts_99_name': nan,
 'resoFactsStats_otherFacts_100_name': nan,
 'resoFactsStats_otherFacts_101_name': nan,
 'resoFactsStats_otherFacts_103_name': nan,
 'resoFactsStats_otherFacts_104_name': nan,
 'resoFactsStats_otherFacts_105_name': nan,
 'resoFactsStats_otherFacts_106_name': nan,
 'resoFactsStats_otherFacts_107_name': nan,
 'resoFactsStats_otherFacts_108_name': nan,
 'resoFactsStats_otherFacts_110_name': nan,
 'resoFactsStats_otherFacts_111_name': nan,
 'resoFactsStats_otherFacts_112_name': nan,
 'resoFactsStats_otherFacts_113_name': nan,
 'resoFactsStats_otherFacts_114_name': nan,
 'resoFactsStats_otherFacts_115_name': nan,
 'resoFactsStats_otherFacts_116_name': nan,
 'resoFactsStats_otherFacts_117_name': nan,
 'resoFactsStats_otherFacts_118_name': nan,
 'resoFactsStats_otherFacts_119_name': nan,
 'resoFactsStats_otherFacts_122_name': nan,
 'resoFactsStats_otherFacts_123_name': nan,
 'resoFactsStats_otherFacts_125_value': nan,
 'resoFactsStats_otherFacts_126_value': nan,
 'resoFactsStats_otherFacts_127_name': nan,
 'resoFactsStats_otherFacts_127_value': nan,
 'resoFactsStats_otherFacts_128_value': nan,
 'resoFactsStats_otherFacts_129_name': nan,
 'resoFactsStats_otherFacts_129_value': nan,
 'resoFactsStats_otherFacts_130_value': nan,
 'resoFactsStats_otherFacts_131_name': nan,
 'resoFactsStats_otherFacts_131_value': nan,
 'resoFactsStats_otherFacts_132_value': nan,
 'resoFactsStats_otherFacts_133_name': nan,
 'resoFactsStats_otherFacts_133_value': nan,
 'resoFactsStats_otherFacts_134_value': nan,
 'resoFactsStats_otherFacts_135_name': nan,
 'resoFactsStats_otherFacts_135_value': nan,
 'resoFactsStats_otherFacts_136_name': nan,
 'resoFactsStats_otherFacts_136_value': nan,
 'resoFactsStats_otherFacts_137_value': nan,
 'resoFactsStats_otherFacts_138_name': nan,
 'resoFactsStats_otherFacts_138_value': nan,
 'resoFactsStats_otherFacts_139_name': nan,
 'resoFactsStats_otherFacts_139_value': nan,
 'resoFactsStats_otherFacts_140_value': nan,
 'resoFactsStats_otherFacts_141_value': nan,
 'resoFactsStats_otherFacts_142_value': nan,
 'resoFactsStats_otherFacts_143_value': nan,
 'resoFactsStats_otherFacts_144_value': nan,
 'resoFactsStats_otherFacts_145_value': nan,
 'resoFactsStats_otherFacts_146_value': nan,
 'resoFactsStats_otherFacts_147_value': nan,
 'resoFactsStats_otherFacts_148_value': nan,
 'resoFactsStats_otherFacts_149_value': nan,
 'resoFactsStats_otherFacts_150_value': nan,
 'resoFactsStats_otherFacts_151_value': nan,
 'resoFactsStats_otherFacts_152_value': nan,
 'resoFactsStats_otherFacts_153_value': nan,
 'resoFactsStats_otherFacts_154_value': nan,
 'resoFactsStats_otherFacts_155_value': nan,
 'resoFactsStats_otherFacts_156_value': nan,
 'resoFactsStats_otherFacts_157_value': nan,
 'resoFactsStats_otherFacts_158_value': nan,
 'resoFactsStats_otherFacts_159_value': nan,
 'resoFactsStats_otherFacts_160_value': nan,
 'resoFactsStats_otherFacts_161_value': nan,
 'resoFactsStats_otherFacts_162_name': nan,
 'resoFactsStats_otherFacts_162_value': nan,
 'resoFactsStats_otherFacts_163_value': nan,
 'resoFactsStats_otherFacts_164_value': nan,
 'resoFactsStats_otherFacts_165_value': nan,
 'resoFactsStats_otherFacts_166_value': nan,
 'resoFactsStats_otherFacts_167_value': nan,
 'resoFactsStats_otherFacts_168_value': nan,
 'resoFactsStats_otherFacts_169_value': nan,
 'resoFactsStats_otherFacts_170_value': nan,
 'resoFactsStats_otherFacts_171_value': nan,
 'resoFactsStats_otherFacts_172_value': nan,
 'resoFactsStats_otherFacts_173_value': nan,
 'resoFactsStats_otherFacts_174_value': nan,
 'resoFactsStats_otherFacts_175_value': nan,
 'resoFactsStats_otherFacts_176_value': nan,
 'resoFactsStats_otherFacts_177_value': nan,
 'resoFactsStats_otherFacts_178_value': nan,
 'resoFactsStats_otherFacts_179_value': nan,
 'resoFactsStats_otherFacts_180_value': nan,
 'resoFactsStats_otherFacts_181_value': nan,
 'resoFactsStats_otherFacts_182_value': nan,
 'resoFactsStats_otherFacts_183_value': nan,
 'resoFactsStats_otherFacts_184_value': nan,
 'resoFactsStats_otherFacts_185_value': nan,
 'resoFactsStats_otherFacts_186_value': nan,
 'resoFactsStats_otherFacts_187_value': nan,
 'resoFactsStats_otherFacts_188_value': nan,
 'resoFactsStats_otherFacts_189_value': nan,
 'resoFactsStats_otherFacts_190_value': nan,
 'resoFactsStats_otherFacts_191_value': nan,
 'resoFactsStats_otherStructures_4': nan,
 'resoFactsStats_otherStructures_5': nan,
 'resoFactsStats_otherStructures_6': nan,
 'resoFactsStats_otherStructures_7': nan,
 'resoFactsStats_otherStructures_8': nan,
 'resoFactsStats_parkingFeatures_7': nan,
 'resoFactsStats_parkingFeatures_8': nan,
 'resoFactsStats_parkingFeatures_9': nan,
 'resoFactsStats_parkingFeatures_10': nan,
 'resoFactsStats_parkingFeatures_11': nan,
 'resoFactsStats_parkingFeatures_12': nan,
 'resoFactsStats_parkingFeatures_13': nan,
 'resoFactsStats_parkingFeatures_14': nan,
 'resoFactsStats_patioAndPorchFeatures_8': nan,
 'resoFactsStats_patioAndPorchFeatures_9': nan,
 'resoFactsStats_spaFeatures_3': nan,
 'resoFactsStats_spaFeatures_4': nan,
 'resoFactsStats_utilities_12': nan,
 'resoFactsStats_utilities_13': nan,
 'resoFactsStats_utilities_14': nan,
 'resoFactsStats_view_5': nan,
 'resoFactsStats_windowFeatures_4': nan,
 'resoFactsStats_windowFeatures_5': nan,
 'resoFactsStats_windowFeatures_6': nan,
 'resoFactsStats_cooling_5': nan}

In [8]:
#Create a "corr_r" row to filter out less correlated features (columns)
df1.loc['corr_r'] = df1.corr()['latest_price'].abs().sort_values(ascending = False)

C:\Users\famma\AppData\Local\Temp\ipykernel_18424\4094108136.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.loc['corr_r'] = df1.corr()['latest_price'].abs().sort_values(ascending = False)
C:\Users\famma\AppData\Local\Temp\ipykernel_18424\4094108136.py:2: FutureWarning: Behavior when concatenating bool-dtype and numeric-dtype arrays is deprecated; in a future version these will cast to object dtype (instead of coercing bools to numeric values). To retain the old behavior, explicitly cast bool-dtype arrays to numeric dtype.
  df1.loc['corr_r'] = df1.corr()['latest_price'].abs().sort_values(ascending = False)

In [9]:
# Check the new row
df1.tail()

,Unnamed: 0.1,Unnamed: 0,address_city,address_neighborhood,address_state,address_streetAddress,address_subdivision,address_zipcode,bathrooms,bedrooms,...,latest_salemonth,latest_saleyear,latest_price_source,numOfAccessibilityFeatures,numOfAppliances,numPhotos,numPriceChanges,photo,imagepath,cleanpath
16478,16480.00000,22070.000000,Austin,NaN,TX,6318 Clairmont Dr,NaN,78749.000000,2.000000,4.000000,...,1.000000,2018.000000,Agent Provided,0.000000,3.000000,33.000000,1.00000,https://photos.zillowstatic.com/fp/2f26fb52681...,/content/gdrive/MyDrive/zillow-images/29487158...,29487158_2f26fb52681290dd3e096cb85fc299ec-p_f.jpg
16479,16481.00000,22072.000000,Austin,NaN,TX,6104 Abilene Trl,NaN,78749.000000,2.000000,3.000000,...,1.000000,2018.000000,Agent Provided,0.000000,5.000000,25.000000,5.00000,https://photos.zillowstatic.com/fp/71a9662d303...,/content/gdrive/MyDrive/zillow-images/29491564...,29491564_71a9662d3031a1834e29f578f5a92b71-p_f.jpg
16480,16482.00000,22073.000000,Austin,NaN,TX,7702 Kincheon Ct,NaN,78749.000000,2.500000,3.000000,...,1.000000,2018.000000,Agent Provided,0.000000,1.000000,27.000000,1.00000,https://photos.zillowstatic.com/fp/f452bc0f4ba...,/content/gdrive/MyDrive/zillow-images/29486556...,29486556_f452bc0f4ba54fe11c89905773f38840-p_f.jpg
16481,16483.00000,22074.000000,Austin,NaN,TX,5300 Indio Cv,NaN,78745.000000,NaN,NaN,...,1.000000,2018.000000,Agent Provided,0.000000,0.000000,11.000000,1.00000,https://photos.zillowstatic.com/fp/eb612b3f7c8...,/content/gdrive/MyDrive/zillow-images/58314089...,58314089_eb612b3f7c80976715d8a54e389b8e15-p_f.jpg
corr_r,0.12465,0.124756,NaN,NaN,NaN,NaN,NaN,0.152605,0.551445,0.323699,...,0.030104,0.059022,NaN,0.015614,0.048005,0.181905,0.09137,NaN,NaN,NaN

In [10]:
 df1.shape

(16483, 736)

In [11]:
# Exclude columns that have correlation values less than 0.05
df2 = df1.loc[:,df1.loc['corr_r'] >= 0.05]

In [12]:
df2.shape

(16483, 44)

The number of columns are reduced from 736 to 44 by dropping columns that have less than 0.05 correlation value

In [13]:
df2.head()

,Unnamed: 0.1,Unnamed: 0,address_zipcode,bathrooms,bedrooms,dateposted,latitude,livingArea,longitude,propertyTaxRate,...,schools_1_studentsPerTeacher,schools_1_totalCount,schools_2_distance,schools_2_rating,schools_2_studentsPerTeacher,schools_2_totalCount,latest_price,latest_saleyear,numPhotos,numPriceChanges
0,0.0,15.0,78732.0,5.0,4.0,NaN,30.354322,4060.0,-97.911278,1.98,...,17.0,1.0,6.0,7.0,17.0,1.0,715000.0,2018.0,39.0,1.0
1,1.0,16.0,78732.0,5.0,5.0,NaN,30.355553,4558.0,-97.912544,1.98,...,17.0,1.0,6.1,7.0,17.0,1.0,1025000.0,2020.0,58.0,2.0
2,2.0,17.0,78732.0,3.5,NaN,NaN,30.382227,3402.0,-97.908333,1.98,...,17.0,1.0,5.3,7.0,17.0,1.0,59000.0,2018.0,1.0,1.0
3,3.0,18.0,78732.0,4.0,4.0,NaN,30.352081,4749.0,-97.912048,1.98,...,17.0,1.0,6.1,7.0,17.0,1.0,825000.0,2018.0,40.0,4.0
4,4.0,19.0,78732.0,4.0,4.0,NaN,30.356226,4867.0,-97.911697,1.98,...,17.0,1.0,6.0,7.0,17.0,1.0,849000.0,2019.0,40.0,7.0

In [14]:
# Create a row called 'null_sum_col' to drop columns that have more than 50% missing values
df2.loc['null_sum_col'] = df2.isnull().sum()

C:\Users\famma\AppData\Local\Temp\ipykernel_18424\3052481394.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc['null_sum_col'] = df2.isnull().sum()

In [15]:
df3 = df2.loc[:, df2.loc['null_sum_col'] < 8242]

In [16]:
df3.shape

(16484, 37)

The number of columns further decreased to 37

In [17]:
df4 = df3.dropna()

In [18]:
df4.shape

(12940, 37)

In [19]:
df4['add_zipcode'] = df4.address_zipcode.astype('category')

C:\Users\famma\AppData\Local\Temp\ipykernel_18424\4276552845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['add_zipcode'] = df4.address_zipcode.astype('category')

In [20]:
df4.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'address_zipcode', 'bathrooms',
       'bedrooms', 'latitude', 'livingArea', 'longitude', 'propertyTaxRate',
       'resoFactsStats_bathrooms', 'resoFactsStats_bathroomsFull',
       'resoFactsStats_bathroomsHalf', 'resoFactsStats_bedrooms',
       'garageSpaces', 'hasGarage', 'hasSpa', 'hasView', 'parking', 'stories',
       'taxAnnualAmount', 'taxAssessedValue', 'schools_0_distance',
       'schools_0_rating', 'schools_0_size', 'schools_0_studentsPerTeacher',
       'schools_1_rating', 'schools_1_size', 'schools_1_studentsPerTeacher',
       'schools_1_totalCount', 'schools_2_distance', 'schools_2_rating',
       'schools_2_studentsPerTeacher', 'schools_2_totalCount', 'latest_price',
       'latest_saleyear', 'numPhotos', 'numPriceChanges', 'add_zipcode'],
      dtype='object')

In [21]:
# Drop unwanated columns 
#df4 = df4.drop(columns=['Unnamed', 'numPhotos'])
columns_to_drop = ['Unnamed', 'Unnamed','numPhotos']
df4 = df4.drop(columns=columns_to_drop)

KeyError: "['Unnamed', 'Unnamed'] not found in axis"

In [22]:
df4.tail()

,Unnamed: 0.1,Unnamed: 0,address_zipcode,bathrooms,bedrooms,latitude,livingArea,longitude,propertyTaxRate,resoFactsStats_bathrooms,...,schools_1_totalCount,schools_2_distance,schools_2_rating,schools_2_studentsPerTeacher,schools_2_totalCount,latest_price,latest_saleyear,numPhotos,numPriceChanges,add_zipcode
16477,16479.00000,22067.000000,78749.000000,2.000000,3.000000,30.221336,2270.000000,-97.879677,1.980000,2.000000,...,1.000000,2.500000,9.000000,18.000000,1.000000,425000.0,2018.000000,28.000000,1.00000,78749.000000
16478,16480.00000,22070.000000,78749.000000,2.000000,4.000000,30.216406,2645.000000,-97.876045,1.980000,2.000000,...,1.000000,2.100000,9.000000,18.000000,1.000000,424999.0,2018.000000,33.000000,1.00000,78749.000000
16479,16481.00000,22072.000000,78749.000000,2.000000,3.000000,30.213816,1469.000000,-97.873711,1.980000,2.000000,...,1.000000,1.900000,9.000000,18.000000,1.000000,316000.0,2018.000000,25.000000,5.00000,78749.000000
corr_r,0.12465,0.124756,0.152605,0.551445,0.323699,0.070221,0.391968,0.181570,0.067748,0.475861,...,0.144867,0.060797,0.287963,0.163059,0.101158,1.0,0.059022,0.181905,0.09137,0.152605
null_sum_col,0.00000,0.000000,0.000000,524.000000,450.000000,0.000000,106.000000,0.000000,18.000000,215.000000,...,389.000000,799.000000,799.000000,799.000000,799.000000,0.0,0.000000,0.000000,0.00000,0.000000

In [23]:
#df4 = df3.drop(['corr_r', 'null_sum_col']).drop(['null_sum_row'], axis = 'columns')
df4 = df4.drop(['corr_r', 'null_sum_col'])

In [24]:
df4.shape

(12938, 38)

In [25]:
(df4.address_zipcode.min(), df4.address_zipcode.max())

(78617.0, 78759.0)

In [26]:
df4.add_zipcode.dtype

CategoricalDtype(categories=[                0.0, 0.15260452122630824,
                              78617.0,             78652.0,
                              78653.0,             78660.0,
                              78701.0,             78702.0,
                              78703.0,             78704.0,
                              78705.0,             78717.0,
                              78719.0,             78721.0,
                              78722.0,             78723.0,
                              78724.0,             78725.0,
                              78726.0,             78727.0,
                              78728.0,             78729.0,
                              78730.0,             78731.0,
                              78732.0,             78733.0,
                              78734.0,             78735.0,
                              78736.0,             78737.0,
                              78738.0,             78739.0,
                              78741.0,             78742.0,
                              78744.0,             78745.0,
                              78746.0,             78747.0,
                              78748.0,             78749.0,
                              78750.0,             78751.0,
                              78752.0,             78753.0,
                              78754.0,             78756.0,
                              78757.0,             78758.0,
                              78759.0],
, ordered=False)

In [27]:
# load the us_income data
df1_inc = pd.read_csv('../01_raw_data/us_income_zipcode.csv', low_memory=False)

In [28]:
df1_inc.shape

(364998, 111)

In [31]:
df1_inc.head()

,ZIP,Geography,Geographic Area Name,Households,Households Margin of Error,"Households Less Than $10,000","Households Less Than $10,000 Margin of Error","Households $10,000 to $14,999","Households $10,000 to $14,999 Margin of Error","Households $15,000 to $24,999",...,"Nonfamily Households $150,000 to $199,999","Nonfamily Households $150,000 to $199,999 Margin of Error","Nonfamily Households $200,000 or More","Nonfamily Households $200,000 or More Margin of Error",Nonfamily Households Median Income (Dollars),Nonfamily Households Median Income (Dollars) Margin of Error,Nonfamily Households Mean Income (Dollars),Nonfamily Households Mean Income (Dollars) Margin of Error,Nonfamily Households Nonfamily Income in the Past 12 Months,Year
0,601,860Z200US00601,ZCTA5 00601,5397.0,264.0,33.2,4.4,15.7,2.9,23.9,...,0.0,2.8,0.0,2.8,9386.0,1472.0,13044.0,1949.0,15.0,2021.0
1,602,860Z200US00602,ZCTA5 00602,12858.0,448.0,27.1,2.9,12.7,2.1,20.5,...,0.0,1.3,0.0,1.3,11242.0,1993.0,16419.0,2310.0,20.1,2021.0
2,603,860Z200US00603,ZCTA5 00603,19295.0,555.0,32.1,2.5,13.4,1.6,17.2,...,0.6,0.6,0.2,0.4,10639.0,844.0,16824.0,2217.0,34.9,2021.0
3,606,860Z200US00606,ZCTA5 00606,1968.0,171.0,28.4,5.5,13.3,4.4,23.3,...,0.0,7.5,0.0,7.5,15849.0,3067.0,16312.0,2662.0,13.0,2021.0
4,610,860Z200US00610,ZCTA5 00610,8934.0,372.0,20.5,2.5,13.2,2.5,23.3,...,0.0,1.8,0.0,1.8,12832.0,2405.0,16756.0,1740.0,14.5,2021.0

In [29]:
df2_inc = df1_inc[df1_inc['ZIP'].between(78617,78759)]

In [30]:
df2_inc.shape

(1025, 111)

In [32]:
df1_inc.ZIP.dtype

dtype('int64')

In [ ]:
merged_df = pd.merge(df4, df1_inc, on='Zip Code', how='inner')